<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      <ion-icon name="walk"></ion-icon> สรุปกิจกรรมแปลง
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="info divMg-5" *ngIf="cpActivityData.length == 0">
    <ion-text color="danger">
      <p style="margin-left: 5%; margin: 0;">!!..แปลงนี้ยังไม่มีการบันทึกกิจกรรม</p>
    </ion-text>
  </div>

  <div class="info divMg-5" *ngIf="cpActivityData.length != 0">
    <!-- <p style="margin: 0;">
        <ion-icon name="person-outline"></ion-icon>กิจกรรมแปลงของท่าน
      </p> -->
    <ion-text color="primary">
      <div style="display: flex; justify-content: space-between;align-items: center;">
        <ion-label name="landname" *ngIf="cpActivityData.landname !== null"
          style="font-size: 20px; transition: all 1s;">{{
            cpdata.landname }}</ion-label>
      </div>
      <p style="margin-left: 5%; margin: 0;">แปลง: {{cpActivityData.intlandno}}</p>
      <p class="txtSmall" style="margin-left: 5%; margin: 0;">{{ cpActivityData.caneTypeName}}
        {{ cpActivityData.landvalue }} ไร่ พันธุ์ {{ cpActivityData.seedname}} โซน:
        {{cpActivityData.supzone}} อายุ {{cpActivityData.caneage}} วัน</p>
    </ion-text>
  </div>

  <div class="divMg-5" *ngIf="cpActivityData.length != 0">
    <ion-grid>
      <ion-row>
        <ion-col class="el-center ion-text-center">
          <div class="w3-panel w3-pale-green w3-bottombar w3-border-green">
            <p>พท.เสียหาย {{ cpActivityData.wastedSpaceRai }} ไร่ คงเหลือจริง
              {{ cpActivityData.landvalue-cpActivityData.wastedSpaceRai }}
              ไร่ ตัดพันธุ์ {{ cpActivityData.cutseed }} ตัน สุญเสีย {{ cpActivityData.ton_lost }} ตัน</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row style="margin-bottom: 5px;">
        <ion-col class="ion-text-center borderDashData bgYellowSoft">
          <ion-text class="txtBold">คงเหลืออ้อย
            <p class="ion-text-center txtLarger txtBlue">{{ cpActivityData.assess_left_fm | number: '1.1-2' }} </p>
          </ion-text>
          <ion-text class="txtBold">
            <ion-icon name="wallet-outline"></ion-icon> ท่านจะได้เงินค่าอ้อย
            <p class="ion-text-center w3-xlarge txtRed">{{ getCanemoney | number: '1.1-2' }} </p>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="w3-center">
          <ion-text class="w3-small">*ใช้ค่าอ้อยและซีซีเอสเฉลี่ยของท่าน ปี66/67
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid class="divMg-5" *ngIf="cpActivityData.length != 0">
    <ion-row class="ion-text-center" style="border-bottom: 1px solid; font-size: 18px; font-weight: 900;">
      <ion-col size="2" class="ion-text-left">
        <ion-icon color="success" name="checkmark-circle"></ion-icon>
      </ion-col>
      <ion-col size="6" class="ion-text-left ion-tex-primary">
        <ion-chip color="primary">
          <ion-avatar>
            <ion-icon name="chevron-down"></ion-icon>
          </ion-avatar>
          <ion-label>หัวข้อ</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="4">
        <ion-chip color="primary">
          <ion-avatar>
            <ion-icon name="person"></ion-icon>
          </ion-avatar>
          <ion-label>ผลงาน</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
    <!-- วันปลูก ตัด -->
    <ion-row style="border-bottom: 1px solid #0003;">
      <ion-col size="2" class="ion-text-left w3-center">
        <ion-icon *ngIf="canetype =='R' && newcanePlantinrange" color="success" name="checkmark-circle"></ion-icon>
        <ion-icon *ngIf="canetype =='R' && !newcanePlantinrange" color="warning" name="close-circle"></ion-icon>
        <ion-icon *ngIf="canetype =='T' && oldcaneHavePlant" color="success" name="checkmark-circle"></ion-icon>
        <ion-icon *ngIf="canetype =='T' && !oldcaneHavePlant" color="warning" name="close-circle"></ion-icon>
      </ion-col>
      <ion-col size="6">
        <ion-text *ngIf="canetype =='T'">อ้อยตอ</ion-text>
        <ion-text *ngIf="canetype =='R'">อ้อยใหม่ปลูกก่อน 15 มค.</ion-text>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        <ion-text class="gfSriracha txtBlue"> {{ cpActivityData.plantdateTh }} </ion-text>
      </ion-col>
    </ion-row>
    <!-- ปรับพื้นที่ -->
    <ion-row style="border-bottom: 1px solid #0003;">
      <ion-col size="2" class="ion-text-left w3-center">
        <ion-icon *ngIf="cpActivityData.groundlevel == true" color="success" name="checkmark-circle">
        </ion-icon>
        <ion-icon *ngIf="cpActivityData.groundlevel !== true" color="warning" name="close-circle"></ion-icon>
      </ion-col>
      <ion-col size="6">
        <ion-text *ngIf="canetype =='T'">อ้อยตอ ทำทางระบายน้ำ</ion-text>
        <ion-text *ngIf="canetype =='R'">อ้อยใหม่ ปรับพื้นที่</ion-text>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        <ion-text class="gfSriracha txtBlue"> {{ cpActivityData.groundlevelDesc }} </ion-text>
      </ion-col>
    </ion-row>
    <!-- ระเบิดดาน -->
    <ion-row style="border-bottom: 1px solid #0003;">
      <ion-col size="2" class="ion-text-left w3-center">
        <ion-icon *ngIf="cpActivityData.hardSoilBlast_code == '2'" color="success" name="checkmark-circle"></ion-icon>
        <ion-icon *ngIf="cpActivityData.hardSoilBlast_code !== '2'" color="warning" name="close-circle">
        </ion-icon>
      </ion-col>
      <ion-col size="6">
        ระเบิดดินดาน
      </ion-col>
      <ion-col size="4" class="ion-text-center gfSriracha txtBlue">
        {{ cpActivityData.hardSoilBlastDesc }}
      </ion-col>
    </ion-row>
    <!-- พันธุ์อ้อย -->
    <ion-row style="border-bottom: 1px solid #0003;">
      <ion-col size="2" class="ion-text-left w3-center">
        <ion-icon *ngIf="canetype == 'R' && cpActivityData.seedclear == true" color="success" name="checkmark-circle">
        </ion-icon>
        <ion-icon *ngIf="canetype == 'R' && cpActivityData.seedclear !== true" color="success" name="checkmark-circle">
        </ion-icon>
        <ion-icon *ngIf="canetype == 'T' && cpActivityData.seedcode !== null" color="success" name="checkmark-circle">
        </ion-icon>
        <ion-icon *ngIf="canetype == 'T' && cpActivityData.seedcode == null" color="warning" name="close-circle">
        </ion-icon>
      </ion-col>
      <ion-col size="6">
        พันธุ์อ้อย {{ cpActivityData.seedname }} สะอาด
      </ion-col>
      <ion-col size="4" class="ion-text-center gfSriracha txtBlue">
        {{ cpActivityData.seedclearDesc }}
      </ion-col>
    </ion-row>
    <!-- ระยะร่อง -->
    <ion-row style="border-bottom: 1px solid #0003;">
      <ion-col size="2" class="ion-text-left w3-center">
        <ion-icon *ngIf="cpActivityData.groove >= 160" color="success" name="checkmark-circle"></ion-icon>
        <ion-icon *ngIf="cpActivityData.groove < 160" color="warning" name="close-circle">
        </ion-icon>
      </ion-col>
      <ion-col size="6">
        ระยะร่อง 160 ซม.
      </ion-col>
      <ion-col size="4" class="ion-text-center gfSriracha txtBlue">
        {{ cpActivityData.grooveDesc }}
      </ion-col>
    </ion-row>
    <!-- โดโลไมท์ -->
    <ion-row style="border-bottom: 1px solid #0003;">
      <ion-col size="2" class="ion-text-left w3-center">
        <ion-icon *ngIf="cpActivityData.dolomite >= 50 " color="success" name="checkmark-circle"></ion-icon>
        <ion-icon *ngIf="cpActivityData.dolomite == 0 " color="warning" name="close-circle"></ion-icon>
      </ion-col>
      <ion-col size="6">
        โดโลไมท์ 50 กก./ไร่
      </ion-col>
      <ion-col size="4" class="ion-text-center gfSriracha txtBlue">
        {{ cpActivityData.dolomiteDesc }}
      </ion-col>
    </ion-row>
    <!-- ปุ๋ยอินฦทรีย์ -->
    <ion-row style="border-bottom: 1px solid #0003;">
      <ion-col size="2" class="ion-text-left w3-center">
        <ion-icon *ngIf="cpActivityData.naturalFertilizerRatio >= 500" color="success" name="checkmark-circle">
        </ion-icon>
        <ion-icon *ngIf="cpActivityData.naturalFertilizerRatio < 500" color="warning" name="close-circle"></ion-icon>
      </ion-col>
      <ion-col size="6">
        ปุ๋ยอินทรีย์ 500 กก./ไร่
      </ion-col>
      <ion-col size="4" class="ion-text-center gfSriracha txtBlue">
        {{ cpActivityData.naturalFertilizerRatio }}
      </ion-col>
    </ion-row>
    <!-- ปุ๋ยเคมีรอบ1 -->
    <ion-row style="border-bottom: 1px solid #0003;">
      <ion-col size="2" class="ion-text-left w3-center">
        <ion-icon *ngIf="cpActivityData.fertilizer1Ratio >= 50" color="success" name="checkmark-circle"></ion-icon>
        <ion-icon *ngIf="cpActivityData.fertilizer1Ratio < 50" color="warning" name="close-circle"></ion-icon>
      </ion-col>
      <ion-col size="6">
        ปุ๋ยเคมีรอบ1 50 กก./ไร่
      </ion-col>
      <ion-col size="4" class="ion-text-center gfSriracha txtBlue">{{ cpActivityData.fertilizer1Ratio }}</ion-col>
    </ion-row>
    <!-- ปุ๋ยเคมีรอบ2 -->
    <ion-row style="border-bottom: 1px solid #0003;">
      <ion-col size="2" class="ion-text-left w3-center">
        <ion-icon *ngIf="cpActivityData.fertilizer2Ratio >= 50" color="success" name="checkmark-circle"></ion-icon>
        <ion-icon *ngIf="cpActivityData.fertilizer2Ratio < 50" color="warning" name="close-circle"></ion-icon>
      </ion-col>
      <ion-col size="6">
        ปุ๋ยเคมีรอบ2 50 กก./ไร่
      </ion-col>
      <ion-col size="4" class="ion-text-center gfSriracha txtBlue">{{ cpActivityData.fertilizer2Ratio }}</ion-col>
    </ion-row>
    <!-- ปุ๋ยเคมีรอบ3 -->
    <ion-row style="border-bottom: 1px solid #0003;">
      <ion-col size="2" class="ion-text-left w3-center">
        <ion-icon *ngIf="cpActivityData.fertilizer3Ratio >= 50" color="success" name="checkmark-circle"></ion-icon>
        <ion-icon *ngIf="cpActivityData.fertilizer3Ratio < 50" color="warning" name="close-circle"></ion-icon>
      </ion-col>
      <ion-col size="6">
        ปุ๋ยเคมีรอบ3 50 กก./ไร่
      </ion-col>
      <ion-col size="4" class="ion-text-center gfSriracha txtBlue">{{ cpActivityData.fertilizer3Ratio }}</ion-col>
    </ion-row>
    <!-- โรคอ้อย -->
    <ion-row style="border-bottom: 1px solid #0003;">
      <ion-col size="2" class="ion-text-left w3-center">
        <ion-icon *ngIf="cpActivityData.disease == '0'" color="success" name="checkmark-circle"></ion-icon>
        <ion-icon *ngIf="cpActivityData.disease !== '0'" color="warning" name="close-circle">
        </ion-icon>
      </ion-col>
      <ion-col size="6">
        โรคอ้อย (ไม่มีโรค)
      </ion-col>
      <ion-col size="4" class="ion-text-center gfSriracha txtBlue">
        {{ cpActivityData.diseaseDesc }}
      </ion-col>
    </ion-row>
    <!-- แมลงอ้อย -->
    <ion-row style="border-bottom: 1px solid #0003;">
      <ion-col size="2" class="ion-text-left w3-center">
        <ion-icon *ngIf="cpActivityData.insect == '0'" color="success" name="checkmark-circle"></ion-icon>
        <ion-icon *ngIf="cpActivityData.insect !== '0'" color="warning" name="close-circle">
        </ion-icon>
      </ion-col>
      <ion-col size="6">
        แมลงอ้อย (ไม่มีแมลง)
      </ion-col>
      <ion-col size="4" class="ion-text-center gfSriracha txtBlue">
        {{ cpActivityData.insectDesc }}
      </ion-col>
    </ion-row>
    <!-- การพูนโคน -->
    <!-- <ion-row style="border-bottom: 1px solid #0003;">
      <ion-col size="2" class="ion-text-left w3-center">
        <ion-icon *ngIf="cpActivityData.pipeup == true" color="success" name="checkmark-circle"></ion-icon>
        <ion-icon *ngIf="cpActivityData.pipeup == false" color="warning" name="close-circle">
        </ion-icon>
      </ion-col>
      <ion-col size="6">
        การพูนโคน
      </ion-col>
      <ion-col size="4" class="ion-text-center gfSriracha txtBlue">
        {{ cpActivityData.pipeupDesc }}
      </ion-col>
    </ion-row> -->
    <!-- เปอร์เซ็นต์การงอก -->
    <!-- <ion-row style="border-bottom: 1px solid #0003;">
      <ion-col size="2" class="ion-text-left w3-center">
        <ion-icon *ngIf="cpActivityData.GerminationPercent >= 90" color="success" name="checkmark-circle"></ion-icon>
        <ion-icon *ngIf="cpActivityData.GerminationPercent < 90 || cpActivityData.GerminationPercent == null"
          color="warning" name="close-circle">
        </ion-icon>
      </ion-col>
      <ion-col size="6">
        %การงอก >=90
      </ion-col>
      <ion-col size="4" class="ion-text-center gfSriracha txtBlue">
        {{ cpActivityData.GerminationPercent }}
      </ion-col>
    </ion-row> -->
    <!-- ประเมินอ้อย -->
    <ion-row style="border-bottom: 1px solid #0003;">
      <ion-col size="2" class="ion-text-left w3-center">
        <ion-icon *ngIf="cpActivityData.ton_last_fm >= 14 && cpActivityData.canetype.includes('ER')" color="success"
          name="checkmark-circle">
        </ion-icon>
        <ion-icon *ngIf="cpActivityData.ton_last_fm >= 14 && cpActivityData.canetype.includes('SR')" color="success"
          name="checkmark-circle">
        </ion-icon>
        <ion-icon *ngIf="cpActivityData.ton_last_fm >= 10 && cpActivityData.canetype.includes('ST')" color="success"
          name="checkmark-circle">
        </ion-icon>
        <ion-icon *ngIf="cpActivityData.ton_last_fm <14 && cpActivityData.canetype.includes('ER')" color="warning"
          name="close-circle">
        </ion-icon>
        <ion-icon *ngIf="cpActivityData.ton_last_fm <14 && cpActivityData.canetype.includes('SR')" color="warning"
          name="close-circle">
        </ion-icon>
        <ion-icon *ngIf="cpActivityData.ton_last_fm <10 && cpActivityData.canetype.includes('ST')" color="warning"
          name="close-circle">
        </ion-icon>
      </ion-col>
      <ion-col size="6">
        ประเมิน (ตัน/ไร่)
      </ion-col>
      <ion-col class="ion-text-center gfSriracha txtBlue">
        {{ cpActivityData.ton_last_fm }}
      </ion-col>
    </ion-row>
    <!-- กลุ่มตัด -->
    <ion-row style="border-bottom: 1px solid #0003;">
      <ion-col size="2" class="ion-text-left w3-center">
        <ion-icon *ngIf="cpActivityData.groupcuted != null || cpActivityData.groupcuted != ''" color="success"
          name="checkmark-circle"></ion-icon>
        <ion-icon *ngIf="cpActivityData.groupcuted == null || cpActivityData.groupcuted == ''" color="warning"
          name="close-circle">
        </ion-icon>
      </ion-col>
      <ion-col size="6">
        กลุ่มตัดอ้อย
      </ion-col>
      <ion-col size="4" class="ion-text-center gfSriracha txtBlue">
        {{ cpActivityData.groupnameC }}
      </ion-col>
    </ion-row>
    <!-- กลุ่มบำรุง -->
    <ion-row style="border-bottom: 1px solid #0003;">
      <ion-col size="2" class="ion-text-left w3-center">
        <ion-icon *ngIf="cpActivityData.groupMaintenance != null || cpActivityData.groupMaintenance != ''"
          color="success" name="checkmark-circle"></ion-icon>
        <ion-icon *ngIf="cpActivityData.groupMaintenance == null || cpActivityData.groupMaintenance == ''"
          color="warning" name="close-circle">
        </ion-icon>
      </ion-col>
      <ion-col size="6">
        กลุ่มบำรุงอ้อย
      </ion-col>
      <ion-col size="4" class="ion-text-center gfSriracha txtBlue">
        {{ cpActivityData.groupnameM }}
      </ion-col>
    </ion-row>
    <!-- วงเงินได้รับ -->
    <ion-row class="w3-pale-red w3-xlarge">
      <ion-col class="ion-text-center">
        <ion-icon name="wallet-outline"></ion-icon> วงเงินได้รับ {{ cpActivityData.credit_amount | number }}
      </ion-col>
      <!-- <div class="w3-tag w3-xxlarge w3-orange">วงเงินได้รับ {{ cpActivityData.credit_amount | number }}</div> -->
      <!-- <ion-col size="2" class="ion-text-left w3-center">
         <ion-icon *ngIf="cpActivityData.credit_amount > 0" color="success" name="checkmark-circle"></ion-icon>
        <ion-icon *ngIf="cpActivityData.credit_amount = 0" color="warning" name="close-circle"> 
        </ion-icon>
      </ion-col>
      <ion-col size="6">
        วงเงินได้รับ
      </ion-col>
      <ion-col size="4" class="ion-text-center gfSriracha txtBlue">
        {{ cpActivityData.credit_amount | number }}
      </ion-col> -->
    </ion-row>
    <ion-row style="border-bottom: 1px solid #0003;">
      <ion-col class="w3-center">
        <ion-text class="txtSmall" color="medium">ข้อมูล ณ วันที่ {{ cpActivityData.update_date_th }}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-right">
      <ion-col>
        <ion-button class="divMg-5" (click)="closeCurrentPage()" shape="round" fill="outline" color="danger">
          <ion-icon name="close-circle-outline"></ion-icon>
          ปิด
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
