<ion-header>
  <ion-toolbar color="primary">
    <ion-title>บันทึกกิจกรรมแปลง {{ cpdata.year_th }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-card class="ion-padding divMg-5">
  <ion-card-header class="el-center">
    <ion-chip>
      <ion-icon name="pin" color="primary"></ion-icon>
      <ion-label class="txtBold">แปลง {{ cpdata.intlandno }}</ion-label>
      <!-- <ion-icon name="close"></ion-icon> -->
    </ion-chip>
    <!-- <ion-card-title>Card Title</ion-card-title>  -->
    <ion-card-subtitle>{{ cpdata.CaneTypeName}} พท. {{ cpdata.landvalue | number: '1.1-2'}} ไร่</ion-card-subtitle>
  </ion-card-header>

  <!-- <ion-card-content>
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content> -->
</ion-card>

<ion-content>

  <ion-card class="divMg-5">

    <form *ngIf="frm_insert" [formGroup]="frm_addcpact" (ngSubmit)="submit(frm_addcpact.value)" novalidate>
      <ion-title class="ion-text-center">
        เพิ่มข้อมูล
        <img src="../../../assets/icon/add-user.png" class="icon-top-right">
      </ion-title>
      <ion-list>
        <!-- วันปลูก/ตัด -->
        <ion-item [color]="cl_plantdate" class="w3-round-large divMg-5">
          <ion-input type="date" [(ngModel)]="plantdate" formControlName="plantdate" label="วันปลูก/ตัด"></ion-input>
        </ion-item>
        <!-- ระดับพื้นที่ -->
        <ion-item [color]="cl_groundlevel" class="w3-round-large divMg-5">
          <ion-toggle [enableOnOffLabels]="true" [(ngModel)]="tg_groundlevel" (ionChange)="ck_groundlevel($event)"
            justify="space-between" formControlName="groundlevel">
            <ion-text *ngIf="canetype == 'R'">1.ปรับพื้นที่</ion-text>
            <ion-text *ngIf="canetype == 'T'">1.ทำทางระบายน้ำ</ion-text>
            <ion-text class="txtBlue" id="click-groundlevel">?</ion-text>
          </ion-toggle>
          <ion-popover trigger="click-groundlevel" triggerAction="click">
            <ng-template>
              <ion-content>
                <div class="w3-panel w3-leftbar w3-light-grey">
                  <p class="txtSmall">
                    <i>"อ้อยปลูกใหม่ ปรับพื้นที่ให้เหมาะสม อ้อยตอ ทำทางระบายน้ำ ราบเรียบ ไม่มีแอ่งน้ำขังภายในแปลง"</i>
                  </p>
                </div>
              </ion-content>
            </ng-template>
          </ion-popover>
        </ion-item>
        <!-- ระเบิดดินดาน -->
        <ion-item [color]="cl_hardSoilBlast" class="w3-round-large divMg-5">
          <ion-grid class="divPadding-5 ">
            <ion-row>
              <ion-col class="w3-display-left">
                <ion-text>2.ระเบิดดาน</ion-text>
                <ion-text class="w3-sand showDesc w3-border w3-round-xlarge">{{ cpActivitydata.hardSoilBlastDesc }}
                </ion-text>
              </ion-col>
              <ion-col class="w3-display-right ion-padding-end">
                <ion-select justify="end" (ionChange)="ck_hardSoilBlast($event)" formControlName="hardSoilBlast_code"
                  [(ngModel)]="cpActivitydata.hardSoilBlast_code">
                  <ion-select-option value="0">ยังไม่ได้ทำ</ion-select-option>
                  <ion-select-option value="1">ทำแล้วลึก <40 ซม.</ion-select-option> <ion-select-option value="2">
                      ทำแล้วลึก >40 ซม.</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <!-- คัดอ้อยพันธุ์ -->
        <ion-item [color]="cl_seedclear" class="w3-round-large divMg-5">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-select (ionChange)="ck_seedcode($event)" formControlName="seedcode"
                  [(ngModel)]="cpActivitydata.seedcode" label="3.พันธุ์อ้อย" placeholder="เลือก">
                  <ion-select-option disabled>++ชื่อพันธุ์++</ion-select-option>
                  <ion-select-option *ngFor="let item of seedcane" [value]="item.seedcode">
                    {{ item.seedname }}
                  </ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="canetype == 'R'">
              <ion-col>
                <ion-toggle [enableOnOffLabels]="true" alignment="center" (ionChange)="ck_seedclear($event)"
                  formControlName="seedclear" [(ngModel)]="tg_seedclear">
                  การคัดพันธุ์ สะอาด
                  <ion-text class="txtBlue" id="click-seedclear">?</ion-text>
                </ion-toggle>
                <ion-popover trigger="click-seedclear" triggerAction="click">
                  <ng-template>
                    <ion-content>
                      <div class="w3-panel w3-leftbar w3-light-grey">
                        <p class="txtSmall">
                          <i>"คัดอ้อยพันธุ์ สะอาด ให้ผลผลิตสูง แข็งแรง สะอาด ปลอดโรค"</i></p>
                      </div>
                    </ion-content>
                  </ng-template>
                </ion-popover>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <!-- ระยะร่อง -->
        <ion-item [color]="cl_groove" class="w3-round-large divMg-5">
          <ion-select (ionChange)="ck_groove($event)" formControlName="groove" [(ngModel)]="groove"
            label="4.ระยะร่อง >160cm." placeholder="เลือก">
            <ion-select-option value="139">น้อยกว่า 140 ซม.</ion-select-option>
            <ion-select-option value="140">140 ซม.</ion-select-option>
            <ion-select-option value="150">150 ซม.</ion-select-option>
            <ion-select-option value="160">160 ซม.</ion-select-option>
            <ion-select-option value="170">170 ซม.</ion-select-option>
            <ion-select-option value="180">180 ซม.</ion-select-option>
            <ion-select-option value="190">190 ซม.</ion-select-option>
            <ion-select-option value="200">200 ซม.</ion-select-option>
            <ion-select-option value="201">มากกว่า 200 ซม.</ion-select-option>
          </ion-select>
        </ion-item>
        <!-- โดโลไมท์  -->
        <ion-item [color]="cl_dolomite" class="w3-round-large divMg-5">
          <ion-select (ionChange)="ck_dolomite($event)" formControlName="dolomite" [(ngModel)]="dolomite"
            label="5.ใส่โดโลไมท์" placeholder="เลือก">
            <ion-select-option value="0">ยังไม่ใส่</ion-select-option>
            <ion-select-option value="50">50 กก./ไร่</ion-select-option>
            <ion-select-option value="100">100 กก./ไร่.</ion-select-option>
            <ion-select-option value="150">150 กก./ไร่.</ion-select-option>
            <ion-select-option value="200">200 กก./ไร่.</ion-select-option>
            <ion-select-option value="201">มากกว่า 200 กก./ไร่</ion-select-option>
          </ion-select>
        </ion-item>
        <!-- อินทรีย์ที่ใส่ -->
        <ion-item [color]="cl_NaturalFertilizer" class="w3-round-large divMg-5">
          <ion-select (ionChange)="ck_NaturalFertilizerSelect($event)" formControlName="naturalfertilizer"
            [(ngModel)]="naturalfertilizer" label="5.อินทรีย์ที่ใส่" placeholder="เลือก">
            <ion-select-option disabled>++ประเภทอินทรีย์++</ion-select-option>
            <ion-select-option *ngFor="let item of organicType" [value]="item.id">{{ item.descript }}
            </ion-select-option>
          </ion-select>
          <hr>
          <ion-select *ngIf="showFertRatio" (ionChange)="ck_NaturalFertilizer($event)"
            formControlName="naturalFertilizerRatio" [(ngModel)]="naturalFertilizerRatio" label="ใส่อัตรา กก./ไร่"
            placeholder="เลือก">
            <!-- <ion-select-option value="0">ยังไม่ใส่</ion-select-option> -->
            <ion-select-option value="50">50</ion-select-option>
            <ion-select-option value="100">100</ion-select-option>
            <ion-select-option value="200">200</ion-select-option>
            <ion-select-option value="500">500</ion-select-option>
            <ion-select-option value="1000">1,000</ion-select-option>
            <ion-select-option value="1001">>1,000</ion-select-option>
          </ion-select>
          <!-- <ion-input *ngIf="showFertRatio" class="inputBGBW divPadding-5" type="number"
            [(ngModel)]="naturalFertilizerRatio" formControlName="naturalFertilizerRatio" label="ใส่อัตรา กก./ไร่"
            (ionChange)="ckFertRationOver($event)" placeholder="เช่น 500" min="0" max="5000">
          </ion-input> -->
        </ion-item>
        <!-- ปุ๋ยเคมี -->
        <ion-item [color]="cl_fertilizer1Ratio" class="w3-round-large divMg-5">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-text>6.ปุ๋ยเคมี</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-select (ionChange)="ck_chemical1Formula($event)" formControlName="fertilizer1Formula"
                  [(ngModel)]="fertilizer1Formula" label="- สูตรปุ๋ยเคมีรอบ1">
                  <ion-select-option disabled>++สูตรปุ๋ยเคมี1++</ion-select-option>
                  <ion-select-option *ngFor="let item of chemicalType" [value]="item.id">{{ item.descript }}
                  </ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-select *ngIf="showChemical1Formula" (ionChange)="ck_NaturalFertilizer($event)"
                  formControlName="fertilizer1Ratio" [(ngModel)]="fertilizer1Ratio" label="ใส่อัตรา กก./ไร่"
                  placeholder="เลือก">
                  <ion-select-option value="25">25</ion-select-option>
                  <ion-select-option value="50">50</ion-select-option>
                  <ion-select-option value="75">75</ion-select-option>
                  <ion-select-option value="100">100</ion-select-option>
                  <ion-select-option value="150">150</ion-select-option>
                  <ion-select-option value="200">200</ion-select-option>
                  <ion-select-option value="201">>200</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-select (ionChange)="ck_chemical2Formula($event)" formControlName="fertilizer2Formula"
                  [(ngModel)]="fertilizer2Formula" label="- สูตรปุ๋ยเคมีรอบ2">
                  <ion-select-option disabled>++สูตรปุ๋ยเคมี2++</ion-select-option>
                  <ion-select-option *ngFor="let item of chemicalType" [value]="item.id">{{ item.descript }}
                  </ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-select *ngIf="showChemical2Formula" (ionChange)="ck_NaturalFertilizer($event)"
                  formControlName="fertilizer2Ratio" [(ngModel)]="fertilizer2Ratio" label="ใส่อัตรา กก./ไร่"
                  placeholder="เลือก">
                  <ion-select-option value="25">25</ion-select-option>
                  <ion-select-option value="50">50</ion-select-option>
                  <ion-select-option value="75">75</ion-select-option>
                  <ion-select-option value="100">100</ion-select-option>
                  <ion-select-option value="150">150</ion-select-option>
                  <ion-select-option value="200">200</ion-select-option>
                  <ion-select-option value="201">>200</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-select (ionChange)="ck_chemical3Formula($event)" formControlName="fertilizer3Formula"
                  [(ngModel)]="fertilizer3Formula" label="- สูตรปุ๋ยเคมีรอบ3">
                  <ion-select-option disabled>++สูตรปุ๋ยเคมี3++</ion-select-option>
                  <ion-select-option *ngFor="let item of chemicalType" [value]="item.id">{{ item.descript }}
                  </ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-select *ngIf="showChemical3Formula" (ionChange)="ck_NaturalFertilizer($event)"
                  formControlName="fertilizer3Ratio" [(ngModel)]="fertilizer3Ratio" label="ใส่อัตรา กก./ไร่"
                  placeholder="เลือก">
                  <ion-select-option value="25">25</ion-select-option>
                  <ion-select-option value="50">50</ion-select-option>
                  <ion-select-option value="75">75</ion-select-option>
                  <ion-select-option value="100">100</ion-select-option>
                  <ion-select-option value="150">150</ion-select-option>
                  <ion-select-option value="200">200</ion-select-option>
                  <ion-select-option value="201">>200</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <!-- การพูนโคน -->
        <!-- <ion-item [color]="cl_pipeup" class="w3-round-large divMg-5">
          <ion-toggle [enableOnOffLabels]="true" alignment="center" (ionChange)="ck_pipeup($event)"
            formControlName="pipeup" [(ngModel)]="tg_pipeup">
            7.การพูนโคน
            <ion-text class="txtBlue" id="click-pipeup">?</ion-text>
          </ion-toggle>
          <ion-popover trigger="click-pipeup" triggerAction="click">
            <ng-template>
              <ion-content>
                <div class="w3-panel w3-leftbar w3-light-grey">
                  <p class="txtSmall">
                    <i>"ลดการสูณเสีย ลดการหักล้ม "</i></p>
                </div>
              </ion-content>
            </ng-template>
          </ion-popover>
        </ion-item> -->
        <!-- %การงอก -->
        <!-- <ion-item [color]="cl_GerminationPercent" class="w3-round-large divMg-5">
          <ion-select (ionChange)="ck_GerminationPercent($event)" formControlName="germinationpercent"
            [(ngModel)]="germinationpercent" label="8.%การงอก" placeholder="เลือก">
            <ion-select-option value="0">0</ion-select-option>
            <ion-select-option value="10">10</ion-select-option>
            <ion-select-option value="20">20</ion-select-option>
            <ion-select-option value="30">30</ion-select-option>
            <ion-select-option value="40">40</ion-select-option>
            <ion-select-option value="50">50</ion-select-option>
            <ion-select-option value="60">60</ion-select-option>
            <ion-select-option value="70">70</ion-select-option>
            <ion-select-option value="80">80</ion-select-option>
            <ion-select-option value="90">90</ion-select-option>
            <ion-select-option value="100">100</ion-select-option>
          </ion-select>
        </ion-item> -->
        <!-- โรคอ้อย -->
        <ion-item [color]="cl_disease" class="w3-round-large divMg-5">
          <ion-grid class="divPadding-5 ">
            <ion-row>
              <ion-col class="w3-display-left">
                <ion-text>7.โรคอ้อย</ion-text>
                <ion-text class="w3-sand showDesc w3-border w3-round-xlarge">{{ cpActivitydata.diseaseDesc }}
                </ion-text>
              </ion-col>
              <ion-col class="w3-display-right ion-padding-end">
                <ion-select justify="end" (ionChange)="ck_disease($event)" formControlName="disease"
                  [(ngModel)]="cpActivitydata.disease">
                  <ion-select-option *ngFor="let item of diseaseData" [value]="item.Disease">{{ item.descript}}
                  </ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <!-- แมลงอ้อย -->
        <ion-item [color]="cl_insect" class="w3-round-large divMg-5">
          <ion-grid class="divPadding-5 ">
            <ion-row>
              <ion-col class="w3-display-left">
                <ion-text>8.แมลงอ้อย</ion-text>
                <ion-text class="w3-sand showDesc w3-border w3-round-xlarge">{{ cpActivitydata.insectDesc }}
                </ion-text>
              </ion-col>
              <ion-col class="w3-display-right ion-padding-end">
                <ion-select justify="end" (ionChange)="ck_insect($event)" formControlName="insect"
                  [(ngModel)]="cpActivitydata.insect">
                  <ion-select-option *ngFor="let item of insectData" [value]="item.insect">{{ item.insectdesc}}
                  </ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <!-- ประเมินอ้อย -->
        <ion-item [color]="cl_tonfm" class="w3-round-large divMg-5">
          <ion-grid>
            <ion-row style="margin-top: 10px;margin-bottom: 10px;">
              <ion-col class="w3-left">
                <ion-text>9.ประเมินอ้อย</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-input type="number" [(ngModel)]="wastedSpaceRai" formControlName="wastedSpaceRai" class="inputBGWB"
                  label="พื้นที่เสียหาย(ไร่)" placeholder="เช่น 0.5"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-input type="number" [(ngModel)]="cutseed" formControlName="cutseed" class="inputBGWB"
                  label="ตัดพันธุ์(ตัน)" placeholder="เช่น 15" maxlength="3"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-input type="number" [(ngModel)]="ton_lost" formControlName="ton_lost" class="inputBGWB"
                  label="สูญเสียจากตัด(ตัน)" placeholder="เช่น 5" maxlength="2"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-input type="number" [(ngModel)]="ton_fm" formControlName="ton_fm" class="inputBGWB"
                  label="ประเมินตัน/ไร่" placeholder="เช่น 15" (ionInput)="newTon($event,frm_addcpact.value)"
                  maxlength="2">
                </ion-input>
                <!-- <div class="ion-text-center">
                  <ion-text class="txtBolder txtLarge txtBlue">ท่านประเมิน
                    <ion-text class="txtRed">ตัน {{ perTon }}</ion-text> /ไร่
                  </ion-text>
                  <ion-item>
                    <ion-range style="margin-top: 20px;" class="inputBGBW" formControlName="ton_fm" [pin]="true"
                      [min]="0" [max]="35" [ticks]="true" [snaps]="true" [(ngModel)]="ton_fm"
                      (ionChange)="newTon($event,frm_addcpact.value)">
                    </ion-range>
                  </ion-item>
                  <ion-item class="ion-text-center">
                    <ion-grid [fixed]="true" style="margin-bottom: 10px;">
                      <ion-row>
                        <ion-col class="">
                          <p>พื้นที่เสียหาย {{ fminput.la }} ไร่</p>
                          <p>คงเหลือพื้นที่ {{ fminput.arealeft | number: '1.1-2'}} ไร่</p>
                          <p>ตัดพันธุ์ {{ fminput.cst }} ตัน</p>
                          <p>สูญเสียจากตัด {{ fminput.lc }} ตัน</p>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-item>
                </div> -->
              </ion-col>
            </ion-row>
            <ion-row class="divMg-5">
              <ion-col>
                <ion-item class="txtBolder txtLarge ion-text-center borderNonlineRedius" color="warning">
                  <ion-label> คงเหลืออ้อย <ion-text class="txtRed"> {{ ton | number }} </ion-text>
                    ตัน</ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <!-- กลุ่มตัด -->
        <ion-item [color]="cl_groupC" class="w3-round-large divMg-5">

          <ion-grid>
            <ion-row class="divPadding-5">
              <ion-col>
                <ion-text>10.กลุ่มตัดอ้อย</ion-text>
              </ion-col>
              <ion-col (click)="getAutoGroupC()" style="text-align: end;">
                <ion-button size="small" shape="round">ใช้กลุ่มเดิม{{ groupCname }}
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-searchbar (ionInput)="filterGC($event.detail.value)" color="clear" [debounce]="1000"
            placeholder="1.คีย์ชื่อกลุ่ม..">
          </ion-searchbar>

          <ion-select id="test" (ionChange)="setGroupC($event)" *ngIf="showGroupCSelect" [(ngModel)]="groupcuted"
            formControlName="groupcuted" label="2.เลือกกลุ่มตัด" placeholder="เลือกกลุ่มตัด">
            <ion-select-option *ngFor="let item of results" [value]="item.groupcode">
              {{item.groupname}}
            </ion-select-option>
          </ion-select>

        </ion-item>
        <!-- กลุ่มบำรุง -->
        <ion-item [color]="cl_groupM" class="w3-round-large divMg-5">

          <ion-grid>
            <ion-row class="divPadding-5">
              <ion-col>
                <ion-text>11.กลุ่มบำรุงอ้อย</ion-text>
              </ion-col>
              <ion-col (click)="getAutoGroupM()" style="text-align: end;">
                <ion-button size="small" shape="round">ใช้กลุ่มเดิม{{ groupMname }}
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-searchbar (ionInput)="filterGM($event.detail.value)" color="clear" [debounce]="1000"
            placeholder="1.คีย์ชื่อกลุ่ม..">
          </ion-searchbar>

          <ion-select (ionChange)="setGroupM($event)" *ngIf="showGroupMSelect" formControlName="groupMaintenance"
            [(ngModel)]="groupMaintenance" label="2.เลือกกลุ่มบำรุง" placeholder="เลือกกลุ่มบำรุง">
            <ion-select-option *ngFor="let item of gm_results" [value]="item.groupcode">{{item.groupname}}
            </ion-select-option>
          </ion-select>

        </ion-item>

        <ion-grid style="margin-top: 10px;">
          <ion-row class="ion-text-center">
            <ion-col>
              <ion-button class="divMg-5" shape="round" type="submit">
                <ion-icon name="save-outline"></ion-icon>
                ...บันทึก เพิ่มข้อมูล
              </ion-button>
              <ion-button class="divMg-5" (click)="closeCurrentPage()" shape="round" fill="outline" color="danger">
                <ion-icon name="close-circle-outline"></ion-icon>
                ปิด
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-list>

      <ion-input type="hidden" [(ngModel)]="itid" formControlName="itid"></ion-input>
      <ion-input type="hidden" [(ngModel)]="yearid" formControlName="yearid"></ion-input>

    </form>

    <!-- <div *ngIf="isFormValid()">Form is valid!</div>
    <div *ngIf="!isFormValid()">Form is invalid!</div> -->

    <!-- Form value {{ frm_addcpact.value | json }}
    Form valid {{ frm_addcpact.valid }} -->

    <form *ngIf="frm_edit" [formGroup]="frm_editcpact" (ngSubmit)="submit(frm_editcpact.value)" novalidate>
      <ion-title class="w3-center w3-amber">อัพเดตข้อมูล</ion-title>
      <ion-list>
        <!-- วันปลูก/ตัด -->
        <ion-item [color]="cl_plantdate" class="w3-round-large divMg-5">
          <ion-grid class="divPadding-5 ">
            <ion-text *ngIf="canetype == 'R'">วันปลูก</ion-text>
            <ion-text *ngIf="canetype == 'T'">วันตัด <ion-text class="w3-sand showDesc w3-border w3-round-xlarge">
                {{ cpActivitydata.plantdateTh }}</ion-text>
            </ion-text>
            <ion-text *ngIf="canetype == 'R'" class="w3-sand showDesc w3-border w3-round-xlarge">ก่อน 15 มค.</ion-text>
            <ion-input type="date" [(ngModel)]="cpActivitydata.plantdate" formControlName="plantdate" class="inputBGWB">
            </ion-input>
          </ion-grid>
        </ion-item>
        <!-- ระดับพื้นที่ -->
        <ion-item [color]="cl_groundlevel" class="w3-round-large divMg-5">
          <ion-toggle [enableOnOffLabels]="true" [(ngModel)]="tg_groundlevel" (ionChange)="ck_groundlevel($event)"
            justify="space-between" formControlName="groundlevel">
            <ion-text *ngIf="canetype == 'R'">1.อ้อยปลูกใหม่ </ion-text>
            <ion-text *ngIf="canetype == 'T'">1.อ้อยตอ </ion-text>
            <ion-text class="txtBlue" id="click-groundlevel">?</ion-text>
            <ion-text *ngIf="canetype == 'R'" class=" w3-sand showDesc w3-border w3-round-xlarge">
              ปรับพื้นที่
            </ion-text>
            <ion-text *ngIf="canetype == 'T'" class=" w3-sand showDesc w3-border w3-round-xlarge">
              ทำทางระบายน้ำ
            </ion-text>
          </ion-toggle>
          <ion-popover trigger="click-groundlevel" triggerAction="click">
            <ng-template>
              <ion-content>
                <div class="w3-panel w3-leftbar w3-light-grey">
                  <p class="txtSmall">
                    <i>"ราบเรียบ ไม่มีแอ่งน้ำขังภายในแปลง"</i></p>
                </div>
              </ion-content>
            </ng-template>
          </ion-popover>
        </ion-item>
        <!-- ระเบิดดินดาน -->
        <ion-item [color]="cl_hardSoilBlast" class="w3-round-large divMg-5">
          <ion-grid class="divPadding-5 ">
            <ion-row>
              <ion-col class="w3-display-left">
                <ion-text>2.ระเบิดดาน</ion-text>
                <ion-text class="w3-sand showDesc w3-border w3-round-xlarge">ลึกมากกว่า40cm.
                </ion-text>
              </ion-col>
              <ion-col class="w3-display-right ion-padding-end">
                <ion-select justify="end" (ionChange)="ck_hardSoilBlast($event)" formControlName="hardSoilBlast_code"
                  [(ngModel)]="cpActivitydata.hardSoilBlast_code">
                  <ion-select-option value="0">ยังไม่ได้ทำ</ion-select-option>
                  <ion-select-option value="1">ทำแล้วลึก<40 ซม.</ion-select-option> <ion-select-option value="2">
                      ทำแล้วลึก>40 ซม.</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <!-- คัดอ้อยพันธุ์ -->
        <ion-item [color]="cl_seedcode" class="w3-round-large divMg-5">
          <ion-grid class="divPadding-5 ">
            <ion-text>3.พันธุ์อ้อย</ion-text>
            <ion-text class="w3-sand showDesc w3-border w3-round-xlarge">
              ระบุชื่อพันธุ์
            </ion-text>
            <ion-list style="margin-top: 5px;">
              <ion-item>
                <ion-select (ionChange)="ck_seedcode($event)" formControlName="seedcode" [(ngModel)]="seedcode"
                  placeholder="เลือก" label="เลือกชื่อพันธุ์">
                  <ion-select-option disabled>++ชื่อพันธุ์++</ion-select-option>
                  <ion-select-option *ngFor="let item of seedcane" [value]="item.seedcode.trim()">
                    {{ item.seedname }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <div class="ion-padding-start">
                <ion-toggle [enableOnOffLabels]="true" alignment="center" (ionChange)="ck_seedclear($event)"
                  formControlName="seedclear" [(ngModel)]="tg_seedclear">
                  การคัดพันธุ์
                  <ion-text class="txtBlue" id="click-seedclear">?</ion-text>
                  <ion-text class="w3-sand showDesc w3-border w3-round-xlarge">
                    {{ cpActivitydata.seedclearDesc }}
                  </ion-text>
                </ion-toggle>
                <ion-popover trigger="click-seedclear" triggerAction="click">
                  <ng-template>
                    <ion-content>
                      <div class="w3-panel w3-leftbar w3-light-grey">
                        <p class="txtSmall">
                          <i>"คัดอ้อยพันธุ์ สะอาด ไม่คัด/คัด"</i></p>
                      </div>
                    </ion-content>
                  </ng-template>
                </ion-popover>
              </div>

            </ion-list>
          </ion-grid>
        </ion-item>
        <!-- ระยะร่อง -->
        <ion-item [color]="cl_groove" class="w3-round-large divMg-5">
          <ion-grid class="divPadding-5 ">
            <ion-row>
              <ion-col class="w3-display-left">
                <ion-text>4.ระยะร่อง</ion-text>
                <ion-text class="w3-sand showDesc w3-border w3-round-xlarge">160 ซม.
                </ion-text>
              </ion-col>
              <ion-col class="w3-display-right ion-padding-end">
                <ion-select justify="end" (ionChange)="ck_groove($event)" formControlName="groove" [(ngModel)]="groove">
                  <ion-select-option value="139">น้อยกว่า 140 ซม.</ion-select-option>
                  <ion-select-option value="140">140 ซม.</ion-select-option>
                  <ion-select-option value="150">150 ซม.</ion-select-option>
                  <ion-select-option value="160">160 ซม.</ion-select-option>
                  <ion-select-option value="170">170 ซม.</ion-select-option>
                  <ion-select-option value="180">180 ซม.</ion-select-option>
                  <ion-select-option value="190">190 ซม.</ion-select-option>
                  <ion-select-option value="200">200 ซม.</ion-select-option>
                  <ion-select-option value="201">มากกว่า 200 ซม.</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <!-- โดโลไมท์  -->
        <ion-item [color]="cl_dolomite" class="w3-round-large divMg-5">
          <ion-grid class="divPadding-5 ">
            <ion-row>
              <ion-col class="w3-display-left">
                <ion-text>5.โดโลไมท์</ion-text>
                <ion-text class="w3-sand showDesc w3-border w3-round-xlarge">ใส่ 50กก./ไร่
                </ion-text>
              </ion-col>
              <ion-col class="w3-display-right ion-padding-end">
                <ion-select (ionChange)="ck_dolomite($event)" formControlName="dolomite" [(ngModel)]="dolomite"
                  justify="end">
                  <ion-select-option value="0">ยังไม่ใส่</ion-select-option>
                  <ion-select-option value="50">50 กก./ไร่</ion-select-option>
                  <ion-select-option value="100">100 กก./ไร่.</ion-select-option>
                  <ion-select-option value="150">150 กก./ไร่.</ion-select-option>
                  <ion-select-option value="200">200 กก./ไร่.</ion-select-option>
                  <ion-select-option value="201">มากกว่า 200 กก./ไร่</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <!-- อินทรีย์ที่ใส่ -->
        <ion-item [color]="cl_NaturalFertilizer" class="w3-round-large divMg-5">
          <ion-grid class="divPadding-5 ">
            <ion-text>5.อินทรีย์ที่ใส่</ion-text>
            <ion-text class="w3-sand showDesc w3-border w3-round-xlarge">
              ใส่ 500กก./ไร่
            </ion-text>
            <ion-list style="margin-top: 5px;">
              <ion-item>
                <ion-select (ionChange)="ck_NaturalFertilizer($event)" formControlName="naturalfertilizer"
                  [(ngModel)]="naturalfertilizer" label="ปุ๋ยอินทรีย์" placeholder="เลือก">
                  <ion-select-option disabled>++ประเภทอินทรีย์++</ion-select-option>
                  <ion-select-option *ngFor="let item of organicType" [value]="item.id.toString()">{{ item.descript }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <div class="ion-padding-start">
                <ion-select (ionChange)="ck_NaturalFertilizer($event)" formControlName="naturalFertilizerRatio"
                  [(ngModel)]="naturalFertilizerRatio" label="ใส่อัตรา กก./ไร่" placeholder="เลือก">
                  <ion-select-option value="50">50</ion-select-option>
                  <ion-select-option value="100">100</ion-select-option>
                  <ion-select-option value="200">200</ion-select-option>
                  <ion-select-option value="500">500</ion-select-option>
                  <ion-select-option value="1000">1,000</ion-select-option>
                  <ion-select-option value="1001">>1,000</ion-select-option>
                </ion-select>
              </div>
            </ion-list>
          </ion-grid>
        </ion-item>
        <!-- ปุ๋ยเคมี -->
        <ion-item [color]="cl_FertilizerRound1" class="w3-round-large divMg-5">
          <ion-grid class="divPadding-5 ">
            <ion-text>6.ปุ๋ยเคมี</ion-text>
            <ion-text class="w3-sand showDesc w3-border w3-round-xlarge">
              เพิ่มผลผลิต 150กก./ไร่
            </ion-text>
            <ion-list style="margin-top: 5px;">
              <!-- <ion-item>
                <ion-text>- รอบ1 ใส่สูตร</ion-text>
                <ion-text class="w3-sand showDesc w3-border w3-round-xlarge">
                  {{ cpActivitydata.chemical1Desc }}
                </ion-text>
              </ion-item> -->
              <div class="ion-padding-start">
                <ion-row>
                  <ion-col>
                    <ion-select formControlName="fertilizer1Formula" [(ngModel)]="fertilizer1Formula"
                      label="รอบ1 ใส่สูตร">
                      <ion-select-option disabled>++สูตรปุ๋ย++</ion-select-option>
                      <ion-select-option *ngFor="let item of chemicalType" [value]="item.id.toString()">
                        {{ item.descript }}
                      </ion-select-option>
                    </ion-select>
                  </ion-col>
                  <ion-col>
                    <ion-select (ionChange)="ck_chemical($event)" formControlName="fertilizer1Ratio"
                      [(ngModel)]="fertilizer1Ratio" label="อัตรา กก./ไร่">
                      <ion-select-option value="25">25</ion-select-option>
                      <ion-select-option value="50">50</ion-select-option>
                      <ion-select-option value="75">75</ion-select-option>
                      <ion-select-option value="100">100</ion-select-option>
                      <ion-select-option value="150">150</ion-select-option>
                      <ion-select-option value="200">200</ion-select-option>
                      <ion-select-option value="201">>200</ion-select-option>
                    </ion-select>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-select formControlName="fertilizer2Formula" [(ngModel)]="fertilizer2Formula"
                      label="รอบ2 ใส่สูตร">
                      <ion-select-option disabled>++สูตรปุ๋ย++</ion-select-option>
                      <ion-select-option *ngFor="let item of chemicalType" [value]="item.id.toString()">
                        {{ item.descript }}
                      </ion-select-option>
                    </ion-select>
                  </ion-col>
                  <ion-col>
                    <ion-select (ionChange)="ck_chemical($event)" formControlName="fertilizer2Ratio"
                      [(ngModel)]="fertilizer2Ratio" label="อัตรา กก./ไร่">
                      <ion-select-option value="25">25</ion-select-option>
                      <ion-select-option value="50">50</ion-select-option>
                      <ion-select-option value="75">75</ion-select-option>
                      <ion-select-option value="100">100</ion-select-option>
                      <ion-select-option value="150">150</ion-select-option>
                      <ion-select-option value="200">200</ion-select-option>
                      <ion-select-option value="201">>200</ion-select-option>
                    </ion-select>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-select formControlName="fertilizer3Formula" [(ngModel)]="fertilizer3Formula"
                      label="รอบ3 ใส่สูตร">
                      <ion-select-option disabled>++สูตรปุ๋ย++</ion-select-option>
                      <ion-select-option *ngFor="let item of chemicalType" [value]="item.id.toString()">
                        {{ item.descript }}
                      </ion-select-option>
                    </ion-select>
                  </ion-col>
                  <ion-col>
                    <ion-select (ionChange)="ck_chemical($event)" formControlName="fertilizer3Ratio"
                      [(ngModel)]="fertilizer3Ratio" label="อัตรา กก./ไร่">
                      <ion-select-option value="25">25</ion-select-option>
                      <ion-select-option value="50">50</ion-select-option>
                      <ion-select-option value="75">75</ion-select-option>
                      <ion-select-option value="100">100</ion-select-option>
                      <ion-select-option value="150">150</ion-select-option>
                      <ion-select-option value="200">200</ion-select-option>
                      <ion-select-option value="201">>200</ion-select-option>
                    </ion-select>
                  </ion-col>
                </ion-row>
              </div>
            </ion-list>
          </ion-grid>
        </ion-item>
        <!-- การพูนโคน -->
        <!-- <ion-item [color]="cl_pipeup" class="w3-round-large divMg-5">
          <ion-toggle [enableOnOffLabels]="true" alignment="center" (ionChange)="ck_pipeup($event)"
            formControlName="pipeup" [(ngModel)]="tg_pipeup">
            7.การพูนโคน
            <ion-text class="txtBlue" id="click-pipeup">?</ion-text>
            <ion-text class="w3-sand showDesc w3-border w3-round-xlarge">{{ cpActivitydata.pipeupDesc }}
            </ion-text>
          </ion-toggle>
          <ion-popover trigger="click-pipeup" triggerAction="click">
            <ng-template>
              <ion-content>
                <div class="w3-panel w3-leftbar w3-light-grey">
                  <p class="txtSmall">
                    <i>"ลดการสูณเสีย ลดการหักล้ม "</i></p>
                </div>
              </ion-content>
            </ng-template>
          </ion-popover>
        </ion-item> -->
        <!-- %การงอก -->
        <!-- <ion-item [color]="cl_GerminationPercent" class="w3-round-large divMg-5">
          <ion-grid class="divPadding-5 ">
            <ion-row>
              <ion-col class="w3-display-left">
                <ion-text>8.%การงอก</ion-text>
                <ion-text class="w3-sand showDesc w3-border w3-round-xlarge">{{ cpActivitydata.GerminationPercent }}
                </ion-text>
              </ion-col>
              <ion-col class="w3-display-right ion-padding-end">
                <ion-select justify="end" (ionChange)="ck_GerminationPercent($event)"
                  formControlName="germinationpercent" [(ngModel)]="germinationpercent">
                  <ion-select-option value="0">0</ion-select-option>
                  <ion-select-option value="10">10</ion-select-option>
                  <ion-select-option value="20">20</ion-select-option>
                  <ion-select-option value="30">30</ion-select-option>
                  <ion-select-option value="40">40</ion-select-option>
                  <ion-select-option value="50">50</ion-select-option>
                  <ion-select-option value="60">60</ion-select-option>
                  <ion-select-option value="70">70</ion-select-option>
                  <ion-select-option value="80">80</ion-select-option>
                  <ion-select-option value="90">90</ion-select-option>
                  <ion-select-option value="100">100</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item> -->
        <!-- ประเมินอ้อย -->
        <ion-item [color]="cl_tonfm" class="w3-round-large divMg-5">
          <ion-grid>
            <ion-row class="divPadding-5">
              <ion-col>
                <ion-text>9.ประเมินอ้อย</ion-text>
                <ion-text *ngIf="canetype == 'R'" class="w3-sand showDesc w3-border w3-round-xlarge">อ้อยใหม่ 14
                </ion-text>
                <ion-text *ngIf="canetype == 'T'" class="w3-sand showDesc w3-border w3-round-xlarge">อ้อยตอ 10
                </ion-text>
              </ion-col>
            </ion-row>
            <ion-list>
              <ion-item>
                <ion-input type="number" [(ngModel)]="cpActivitydata.wastedSpaceRai" formControlName="wastedSpaceRai"
                  class="inputBGWB" label="พื้นที่เสียหาย(ไร่)"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input type="number" [(ngModel)]="cpActivitydata.cutseed" formControlName="cutseed"
                  class="inputBGWB" label="ตัดพันธุ์(ตัน)" maxlength="3"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input type="number" [(ngModel)]="cpActivitydata.ton_lost" formControlName="ton_lost"
                  class="inputBGWB" label="สูญเสียจากตัด(ตัน)" maxlength="2"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input type="number" [(ngModel)]="cpActivitydata.ton_last_fm" formControlName="ton_fm"
                  class="inputBGWB" label="ประเมินตัน/ไร่" (ionInput)="newTon($event,frm_editcpact.value)"
                  maxlength="2"></ion-input>
              </ion-item>
            </ion-list>
            <ion-row class="divMg-5">
              <ion-col>
                <ion-item class="txtBolder txtLarge ion-text-center borderNonlineRedius" color="warning">
                  <ion-label> คงเหลืออ้อย <ion-text class="txtRed"> {{ ton }} </ion-text>
                    ตัน</ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <!-- กลุ่มตัด -->
        <ion-item [color]="cl_groupC" class="w3-round-large divMg-5">
          <ion-grid>
            <ion-row class="divPadding-5">
              <ion-col>
                <ion-text>10.กลุ่มตัดอ้อย</ion-text>
              </ion-col>
              <ion-col (click)="getAutoGroupC()" style="text-align: end;">
                <ion-button size="small" shape="round">ใช้กลุ่มเดิม{{ groupCname }}
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-searchbar (ionInput)="filterGC($event.detail.value)" color="clear" [debounce]="1000"
            placeholder="1.คีย์ชื่อกลุ่ม..">
          </ion-searchbar>
          <ion-select formControlName="groupcuted" [(ngModel)]="groupcuted" label="2.เลือกกลุ่มตัด"
            placeholder="เลือกกลุ่มตัด">
            <ion-select-option *ngFor="let item of results" [value]="item.groupcode.toString()">{{item.groupname}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <!-- กลุ่มบำรุง -->
        <ion-item [color]="cl_groupM" class="w3-round-large divMg-5">
          <ion-grid>
            <ion-row class="divPadding-5">
              <ion-col>
                <ion-text>11.กลุ่มบำรุงอ้อย</ion-text>
              </ion-col>
              <ion-col (click)="getAutoGroupM()" style="text-align: end;">
                <ion-button size="small" shape="round">ใช้กลุ่มเดิม{{ groupMname }}
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-searchbar (ionInput)="filterGM($event.detail.value)" color="clear" [debounce]="1000"
            placeholder="1.คีย์ชื่อกลุ่ม..">
          </ion-searchbar>

          <ion-select formControlName="groupMaintenance" [(ngModel)]="groupMaintenance" label="2.เลือกกลุ่มบำรุง"
            placeholder="เลือกกลุ่มบำรุง">
            <ion-select-option *ngFor="let item of gm_results" [value]="item.groupcode">{{item.groupname}}
            </ion-select-option>
          </ion-select>

        </ion-item>

        <ion-grid style="margin-top: 10px;">
          <ion-row class="ion-text-center">
            <ion-col>
              <ion-button class="divMg-5" shape="round" type="submit" [disabled]="!frm_editcpact.valid">
                <ion-icon name="save-outline"></ion-icon>
                ...บันทึก อัพเดตข้อมูล
              </ion-button>
              <ion-button class="divMg-5" (click)="closeCurrentPage()" shape="round" fill="outline" color="danger">
                <ion-icon name="close-circle-outline"></ion-icon>
                ปิด
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-list>
      <!-- <ion-input type="hidden" [(ngModel)]="itid" formControlName="itid"></ion-input>
      <ion-input type="hidden" [(ngModel)]="yearid" formControlName="yearid"></ion-input> -->

    </form>

  </ion-card>

</ion-content>
