.showDesc {
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.ion-item-border {
    // --background: #19422d;
    // --color: #fff;

    --border-color: #606060;
    // --border-style: dashed;
    --border-width: 2px;

    --border-radius: 5px;

    // --ripple-color: purple;

    // --detail-icon-color: white;
    // --detail-icon-opacity: 1;
    // --detail-icon-font-size: 20px;
}