<ion-menu menuId="first-menu" contentId="maint2-content">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-item color="secondary" line="non" class="divPadding-5">
        <ion-icon name="locate"></ion-icon>
        <ion-label> แผนที่และแปลงอ้อย </ion-label>
      </ion-item>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-select (ionChange)="selectyear($event)" label="เลือกปี" placeholder="">
      <ion-select-option value="" disabled>++เลือกปี++</ion-select-option>
      <ion-select-option *ngFor="let i of yeardata" value="{{i.yearCr}}">{{ i.yearDesc }}
      </ion-select-option>
    </ion-select>
    <ion-accordion-group>
      <!-- <ion-accordion value="year">
        <ion-item slot="header">
          <ion-icon name="calendar-number-outline" slot="start"></ion-icon>
          <ion-label>ปีการผลิต</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-select (ionChange)="selectyear($event)" label="เลือกปี" placeholder="">
            <ion-select-option value="" disabled>++เลือกปี++</ion-select-option>
            <ion-select-option *ngFor="let i of yeardata" value="{{i.yearCr}}">{{ i.yearDesc }}
            </ion-select-option>
          </ion-select>
        </div>
      </ion-accordion> -->
      <ion-accordion value="map">
        <ion-item slot="header">
          <ion-icon name="map" slot="start"></ion-icon>
          <ion-label>แผนที่</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-button (click)="loadNewFmdata()" fill="clear" expand="full">
            <ion-icon name="documents-outline" slot="start"></ion-icon>
            <ion-label>โหลดใหม่</ion-label>
          </ion-button>
        </div>
      </ion-accordion>
      <ion-accordion value="caneplot">
        <ion-item slot="header">
          <ion-icon name="list" slot="start"></ion-icon>
          <ion-label>แปลงอ้อย</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-button fill="clear" expand="full">
            <ion-icon name="documents-outline" slot="start"></ion-icon>
            <ion-label>แปลงยังไม่บันทึกกิจกรรม</ion-label>
          </ion-button>
          <ion-button fill="clear" expand="full">
            <ion-icon name="thumbs-down-outline" slot="start"></ion-icon>
            <ion-label>แปลงยังไม่ประเมิน</ion-label>
          </ion-button>
        </div>
      </ion-accordion>
      <ion-accordion value="topic">
        <ion-item slot="header">
          <ion-icon name="map" slot="start"></ion-icon>
          <ion-label>สีแปลงอ้อย</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-grid>
            <ion-row class="ion-text-center">
              <ion-text color="success">
                <ion-icon name="thumbs-up-outline"></ion-icon>
                แปลงประเมินแล้ว
              </ion-text>
            </ion-row>
            <ion-row class="ion-text-center">
              <ion-text color="warning">
                <ion-icon name="thumbs-down-outline"></ion-icon>
                แปลงยังไม่ประเมิน
              </ion-text>
            </ion-row>
          </ion-grid>
          <!-- <ion-button fill="clear" expand="full">
            <ion-icon name="thumbs-down-outline" slot="start"></ion-icon>
            <ion-label>แปลงยังไม่ประเมิน</ion-label>
          </ion-button>
          <ion-button fill="clear" expand="full">
            <ion-icon name="documents-outline" slot="start"></ion-icon>
            <ion-label>แปลงยังไม่บันทึกกิจกรรม</ion-label>
          </ion-button> -->
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-content>
</ion-menu>

<ion-menu menuId="second-menu" contentId="maint2-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Second Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-accordion-group>
      <ion-accordion value="map">
        <ion-item slot="header">
          <ion-icon name="map" slot="start"></ion-icon>
          <ion-label>แผนที่</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-button (click)="loadNewFmdata()" fill="clear" expand="full">
            <ion-icon name="documents-outline" slot="start"></ion-icon>
            <ion-label>โหลดใหม่</ion-label>
          </ion-button>
        </div>
      </ion-accordion>
      <ion-accordion value="caneplot">
        <ion-item slot="header">
          <ion-icon name="list" slot="start"></ion-icon>
          <ion-label>แปลงอ้อย</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-button fill="clear" expand="full">
            <ion-icon name="documents-outline" slot="start"></ion-icon>
            <ion-label>แปลงยังไม่บันทึกกิจกรรม</ion-label>
          </ion-button>
          <ion-button fill="clear" expand="full">
            <ion-icon name="thumbs-down-outline" slot="start"></ion-icon>
            <ion-label>แปลงยังไม่ประเมิน</ion-label>
          </ion-button>
        </div>
      </ion-accordion>
      <ion-accordion value="topic">
        <ion-item slot="header">
          <ion-icon name="map" slot="start"></ion-icon>
          <ion-label>สีแปลงอ้อย</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-grid>
            <ion-row class="ion-text-center">
              <ion-text color="success">
                <ion-icon name="thumbs-up-outline"></ion-icon>
                แปลงประเมินแล้ว
              </ion-text>
            </ion-row>
            <ion-row class="ion-text-center">
              <ion-text color="warning">
                <ion-icon name="thumbs-down-outline"></ion-icon>
                แปลงยังไม่ประเมิน
              </ion-text>
            </ion-row>
          </ion-grid>
          <!-- <ion-button fill="clear" expand="full">
            <ion-icon name="thumbs-down-outline" slot="start"></ion-icon>
            <ion-label>แปลงยังไม่ประเมิน</ion-label>
          </ion-button>
          <ion-button fill="clear" expand="full">
            <ion-icon name="documents-outline" slot="start"></ion-icon>
            <ion-label>แปลงยังไม่บันทึกกิจกรรม</ion-label>
          </ion-button> -->
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-content>
</ion-menu>

<ion-menu menuI="third-menu" side="end" contentId="maint2-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>End Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-accordion-group>
      <ion-accordion value="map">
        <ion-item slot="header">
          <ion-icon name="map" slot="start"></ion-icon>
          <ion-label>แผนที่</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-button (click)="loadNewFmdata()" fill="clear" expand="full">
            <ion-icon name="documents-outline" slot="start"></ion-icon>
            <ion-label>โหลดใหม่</ion-label>
          </ion-button>
        </div>
      </ion-accordion>
      <ion-accordion value="caneplot">
        <ion-item slot="header">
          <ion-icon name="list" slot="start"></ion-icon>
          <ion-label>แปลงอ้อย</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-button fill="clear" expand="full">
            <ion-icon name="documents-outline" slot="start"></ion-icon>
            <ion-label>แปลงยังไม่บันทึกกิจกรรม</ion-label>
          </ion-button>
          <ion-button fill="clear" expand="full">
            <ion-icon name="thumbs-down-outline" slot="start"></ion-icon>
            <ion-label>แปลงยังไม่ประเมิน</ion-label>
          </ion-button>
        </div>
      </ion-accordion>
      <ion-accordion value="topic">
        <ion-item slot="header">
          <ion-icon name="map" slot="start"></ion-icon>
          <ion-label>สีแปลงอ้อย</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-grid>
            <ion-row class="ion-text-center">
              <ion-text color="success">
                <ion-icon name="thumbs-up-outline"></ion-icon>
                แปลงประเมินแล้ว
              </ion-text>
            </ion-row>
            <ion-row class="ion-text-center">
              <ion-text color="warning">
                <ion-icon name="thumbs-down-outline"></ion-icon>
                แปลงยังไม่ประเมิน
              </ion-text>
            </ion-row>
          </ion-grid>
          <!-- <ion-button fill="clear" expand="full">
            <ion-icon name="thumbs-down-outline" slot="start"></ion-icon>
            <ion-label>แปลงยังไม่ประเมิน</ion-label>
          </ion-button>
          <ion-button fill="clear" expand="full">
            <ion-icon name="documents-outline" slot="start"></ion-icon>
            <ion-label>แปลงยังไม่บันทึกกิจกรรม</ion-label>
          </ion-button> -->
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-content>
</ion-menu>

<div class="ion-page" id="maint2-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title style="margin-left: 5px;">
        <ion-icon name="map-outline"></ion-icon>
        แปลงอ้อย {{ yearDesc }}
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="openFirstMenu()">
          <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">

    <!-- <p>Tap a button below to open a specific menu.</p>
    <ion-button expand="block" (click)="openFirstMenu()">Open First Menu</ion-button>
    <ion-button expand="block" (click)="openSecondMenu()">Open Second Menu</ion-button>
    <ion-button expand="block" (click)="openEndMenu()">Open End Menu</ion-button> -->


    <ion-segment value="map" class="bgWhite" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="map">
        <ion-chip class="bgOrangeSoft">
          <ion-icon name="map" color="primary"></ion-icon>
          <ion-label class="txtBold">แผนที่</ion-label>
        </ion-chip>
      </ion-segment-button>
      <ion-segment-button value="cpdata" [disabled]="true">
        <ion-chip class="bgOrangeSoft">
          <ion-icon name="list" color="primary"></ion-icon>
          <ion-label class="txtBold">แปลงอ้อย</ion-label>
        </ion-chip>
        <!-- <ion-label class="txtLarge "><ion-icon name="list-outline"></ion-icon> แปลงอ้อย</ion-label> -->
      </ion-segment-button>
    </ion-segment>

    <ion-content *ngIf="mapP && mapFbFm" class="animate__animated animate__faster"
      [ngClass]="{animate__slideInRight: !dataP}">
      <div *ngIf="mapFbFm.length == 0" class="w3-panel w3-yellow w3-card-4">
        <h3>!!ไม่พบข้อมูล</h3>
        <p>แผนที่แปลงอ้อยในปีที่เลือก..</p>
      </div>
      <div id="map" style="width: 100%;  height: 100%;"></div>
    </ion-content>

    <ion-content *ngIf="dataP && cpFmdata" class="animate__animated animate__faster"
      [ngClass]="{animate__slideInRight: !dataP}">
      <ion-text>Data segment</ion-text>
    </ion-content>

  </ion-content>
</div>
