<!-- left-Side Menu -->
<ion-menu side="start" menuId="main" contentId="main-content">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-title>
        <!-- <ion-icon name="happy-outline"></ion-icon>
        สวัสดี -->
      </ion-title>
      <ion-item line="non" color="secondary">
        <ion-avatar slot="start">
          <img alt="fmbrd" src="{{fmimg}}" />
        </ion-avatar>
        <ion-label> {{ fmname }} </ion-label>
      </ion-item>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">

    <form [formGroup]="frm_search" (ngSubmit)="getFmdata(frm_search.value)" novalidate>

      <ion-searchbar class="appsearchbar" formControlName="fmcode" search-icon="people-outline" [(ngModel)]="fmcode"
        placeholder="โควต้า 10 หลัก">
      </ion-searchbar>
      <ion-button expand="full" shape="round" type="submit" [disabled]="!frm_search.valid">
        <ion-icon name="search-outline"></ion-icon>
        ตกลง
      </ion-button>

    </form>

  </ion-content>

</ion-menu>

<!-- Right-Side Menu -->
<ion-menu side="end" menuId="moremenu" content-id="main-content">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-item color="secondary" line="non" class="divPadding-5">
        <ion-avatar slot="start">
          <img alt="fmimg" src="{{fmimg}}" />
        </ion-avatar>
        <ion-label> {{ fmname }} </ion-label>
      </ion-item>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-accordion-group>
      <ion-accordion value="data">
        <ion-item slot="header">
          <ion-icon name="cloud-download" slot="start"></ion-icon>
          <ion-label>ข้อมูล</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-button (click)="loadNewAlldata()" fill="outline" expand="full">
            <ion-icon name="refresh-outline" slot="end"></ion-icon>
            <div>โหลดข้อมูลล่าสุด</div>
          </ion-button>
        </div>
      </ion-accordion>
      <ion-accordion value="first">
        <ion-item slot="header">
          <ion-icon name="settings" slot="start"></ion-icon>
          <ion-label>ตั้งค่า</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-button fill="clear">
            <ion-icon name="user-outline"></ion-icon>
            <ion-label>อยู่ระหว่างพัฒนา</ion-label>
          </ion-button>
        </div>
      </ion-accordion>
    </ion-accordion-group>

  </ion-content>

</ion-menu>

<div class="ion-page" id="main-content">

  <ion-header>
    <ion-toolbar color="primary">
      <!-- <ion-buttons slot="start">
        <ion-menu-button menuId="main"></ion-menu-button>
      </ion-buttons> -->
      <ion-title>
        {{ appName }}
        <ion-text class="txtSmall">v.{{ appVersion }}</ion-text>
      </ion-title>
      <ion-buttons slot="start">
        <ion-menu-button auto-hide="false"></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="primary">
        <ion-button (click)="openUserMenu()">
          <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content *ngFor="let item of fmdata" style="--background:tranparent" id="con" class="animate__animated imgCane1"
    [ngClass]="{animate__fadeIn: start}">

    <div class="img-cov">
      <img src="{{ item.pic_url}}" class="img-dis" />
      <div class="ribbon">
        <ion-text>{{ item.fmname }}</ion-text>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
      </div>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-icon name="call-outline txtWhite"></ion-icon>
            <ion-text class="txtWhite">{{ item.TEL }}</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text class="txtWhite">โซน {{ item.SUPZONE }} นสส. {{ item.SUPCODE }}</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <!-- ประเมินอ้อย -->
    <ion-card class="boxWhiteShadow boxGreenPowerpointL bgGreenSoft divPadding-10" style="margin-bottom: 25px;">
      <ion-grid [fixed]="true">
        <ion-row class="ion-text-center">
          <ion-col>
            <ion-text class="txtLarge txtBolder">
              <ion-icon name="flag-outline"></ion-icon> เป้าหมายปริมาณอ้อย
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-grid class="divPadding-10">
          <ion-row class="ion-text-center borderRainbow w3-animate-zoom animate__animated animate__bounce animate__slow">
            <ion-col>
              <ion-text class="txtxxlarge txtBolder txtWhite txtShadowB gfChonburi">
                {{ item.target_cane | number: '1.0-0'}}</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="divPadding-10">
          <ion-row>
            <ion-col>
              <div class="w3-light-grey paddingTB5 w3-large w3-center">
                <div class="w3-container w3-padding-small w3-blue w3-round w3-center txtSmall"
                [style.width.%]="pcFm" style="margin-bottom: 3px;">
                  {{pcFm | number: '1.0-0'}}%
                </div>
                <ion-grid>
                  <ion-row>
                    <ion-col class="ion-text-left w3-lime">
                      <ion-icon name="person"></ion-icon> ท่านประเมิน <ion-icon name="chevron-forward-outline"></ion-icon>
                    </ion-col>
                    <ion-col class="ion-text-right w3-khaki">
                      {{ item.Assess_left_fm | number: '1.0-0' }}
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
              <div class="w3-light-grey paddingTB5 w3-large w3-center">
                <div class="w3-container w3-padding-small w3-light-blue w3-round w3-center txtSmall" 
                  [style.width.%]="pcSupcode" style="margin-bottom: 3px;">
                  {{pcSupcode | number: '1.0-0'}}%
                </div>
                <ion-grid>
                  <ion-row>
                    <ion-col class="ion-text-left w3-lime">
                      <ion-icon name="people"></ion-icon> นสส.ประเมิน <ion-icon name="chevron-forward-outline"></ion-icon>
                    </ion-col>
                    <ion-col class="ion-text-right w3-khaki">{{ item.Assess_left | number: '1.0-0' }}</ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <!-- <ion-row class="ion-text-center">
          <ion-col>
            <div class="wrap-circles">
              <ion-text class="ion-text-center txtBolder txtRed txtLarge">
                <ion-icon name="person"></ion-icon>
                จากท่าน</ion-text>
              <div class="circle per-25">
                <div class="inner">25%</div>
              </div>
            </div>
          </ion-col>
          <ion-col>
            <div class="wrap-circles">
              <ion-text class="ion-text-center txtBolder txtBlue txtLarge">
                <ion-icon name="people"></ion-icon>
                นสส.</ion-text>
              <div class="circle per-50">
                <div class="inner">50%</div>
              </div>
            </div>
          </ion-col>
        </ion-row> -->
        <!-- <ion-row>
          <ion-col>
            <div class="container">
              <div class="progress-container">
                <div class="progress" id="progress"> </div>
                <div class="circle active">25%</div>
                <div class="circle">50%</div>
                <div class="circle">75%</div>
                <div class="circle">100%</div>
              </div>
            </div>
          </ion-col>
        </ion-row> -->
        <ion-row class="ion-text-center">
          <ion-col>
            <ion-text class="txtSmall">*หักพื้นที่เสียหาย ตัดพันธุ์ สูญเสียแล้ว</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <!-- ข้อมูลทั่วไป -->
    <ion-card class="boxYellowShadow boxGreenPowerpointR bgGreenSoft">
      <ion-card-content>
        <div style="margin-top: 3%;">
          <ion-card-title style="margin-bottom: 3%;" color="dark">ข้อมูลทั่วไป</ion-card-title>
          <h4 class="head-pro" color="dark">
            <ion-icon name="location-outline" color="dark"></ion-icon> ทีอยู
          </h4>
          <p class="pro-text" color="dark">
            {{ item.HOMENO }}หมู่ {{ item.MOO }}ต. {{item.district}} อ.{{ item.county}} จ.{{ item.province }}{{ item.zip
            }}
          </p>
          <h3 class="head-pro">
            <ion-icon name="person-outline"></ion-icon> สมาชิก
          </h3>
          <p class="pro-text">โรงงาน : {{ item.FMCODE_B1 }}</p>
          <p class="pro-text">สมาคม : {{ item.AssoID }}</p>
          <p class="pro-text">สอน. : {{ item.CARDFARMER }}</p>
          <p class="pro-text">กลุ่ม : {{ item.GROUPCODE }}</p>
          <h3 class="head-pro">
            <ion-icon name="podium-outline"></ion-icon> บัญชีธนาคาร
          </h3>
          <p class="pro-text">กรุงเทพ : {{ item.BANKBBL }}</p>
          <p class="pro-text">ธกส : {{ item.BANKTKS }}</p>
          <p class="pro-text">กรุงไทย : {{ item.BANKKTB }}</p>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="boxGreenPowerpointL bgGreenSoft " style="margin-top: 25px;margin-bottom: 25px">
      <ion-card-content>...as soon</ion-card-content>
      <i class="icon ion-refreshing"></i>
    </ion-card>

  </ion-content>

  <div *ngIf="!fmdata">
    <ion-text>No fmdata</ion-text>
  </div>

</div>
