<!-- left-Side Menu -->
<ion-menu side="start" menuId="main" contentId="main-content">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-title>
        <!-- <ion-icon name="happy-outline"></ion-icon>
        สวัสดี -->
      </ion-title>
      <ion-item line="non" color="secondary">
        <ion-avatar slot="start">
          <img alt="fmbrd" src="{{fmimg}}" />
        </ion-avatar>
        <ion-label> {{ fmname }} </ion-label>
      </ion-item>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">

    <!-- <form [formGroup]="frm_search" (ngSubmit)="getFmdata(frm_search.value)" novalidate>

      <ion-searchbar class="appsearchbar" formControlName="fmcode" search-icon="people-outline" [(ngModel)]="fmcode"
        placeholder="โควต้า 10 หลัก">
      </ion-searchbar>
      <ion-button expand="full" shape="round" type="submit" [disabled]="!frm_search.valid">
        <ion-icon name="search-outline"></ion-icon>
        ตกลง
      </ion-button>

    </form> -->

  </ion-content>

</ion-menu>

<!-- Right-Side Menu -->
<ion-menu side="end" menuId="moremenu" content-id="main-content">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-item color="secondary" line="non" class="divPadding-5">
        <ion-avatar slot="start">
          <img alt="fmimg" src="{{fmimg}}" />
        </ion-avatar>
        <ion-label> {{ fmname }} </ion-label>
      </ion-item>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <!-- <form [formGroup]="frm_search" (ngSubmit)="getFmdata(frm_search.value)" novalidate>

      <ion-searchbar class="appsearchbar" formControlName="fmcode" search-icon="people-outline" [(ngModel)]="fmcode"
        placeholder="โควต้า 10 หลัก">
      </ion-searchbar>
      <ion-button expand="full" shape="round" type="submit" [disabled]="!frm_search.valid">
        <ion-icon name="search-outline"></ion-icon>
        ตกลง
      </ion-button>

    </form> -->

    <ion-item>
      <ion-select (ionChange)="selectyear($event)" label="เลือกปี" placeholder="">
        <ion-select-option value="" disabled>++เลือกปี++</ion-select-option>
        <ion-select-option *ngFor="let i of yearData" value="{{i.yearCr}}">{{ i.yearDesc }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-accordion-group>
      <ion-accordion value="data">
        <ion-item slot="header">
          <ion-icon name="cloud-download" slot="start"></ion-icon>
          <ion-label>ข้อมูล</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-button (click)="loadNewAlldata($event)" fill="outline" expand="full">
            <ion-icon name="refresh-outline" slot="end"></ion-icon>
            <div>โหลดข้อมูลล่าสุด</div>
          </ion-button>
        </div>
      </ion-accordion>
      <ion-accordion value="first">
        <ion-item slot="header">
          <ion-icon name="settings" slot="start"></ion-icon>
          <ion-label>ตั้งค่า</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-button (click)="goProfile()" fill="outline" expand="full">
            แก้ไขโปรไฟล์
            <ion-icon name="person-add-outline" slot="start"></ion-icon>
          </ion-button>
          <!-- <ion-button (click)="goProfile()" fill="outline" expand="full">
            <ion-icon name="person-add-outline" slot="start"></ion-icon>
            <div>แก้ไขโปรไฟล์</div>
          </ion-button> -->
        </div>
      </ion-accordion>
      <ion-accordion value="app">
        <ion-item slot="header">
          <ion-icon name="logo-angular"></ion-icon>
          <ion-label>เกี่ยวกับ</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-button fill="clear">
            <p>
              <ion-label>BrdFarm เวอร์ชั่น {{ appVersion }}</ion-label>
              <br>
              <ion-label>อัพเดต {{ appUpdate }}</ion-label>
            </p>
          </ion-button>
          <ion-item slot="header" color="secondary" class="w3-center">
            <ion-label>การอัพเดตแอพเวอร์ชั่น {{ appVersion }}</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <p class="txtSmall" *ngFor="let i of versionDetail">{{ i.subject }}</p>
          </div>
        </div>
      </ion-accordion>
    </ion-accordion-group>
    <ion-row>
      <ion-col class="w3-center">
        <ion-button (click)="logout()" fill="outline" shape="round">
          <ion-icon name="log-out-outline"></ion-icon>
          ออกจากระบบ
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-content>

</ion-menu>

<div class="ion-page" id="main-content">

  <ion-header>
    <ion-toolbar color="primary">
      <!-- <ion-buttons slot="start">
        <ion-menu-button menuId="main"></ion-menu-button>
      </ion-buttons> -->
      <ion-title>
        <ion-icon name="bar-chart"></ion-icon>
        <!-- <ion-avatar slot="start">
          <img alt="brdFarm" src="assets/icon/brdfarm-01.png" />
        </ion-avatar> -->
        สรุปภาพรวม {{ yearDesc }}
        <!-- <ion-item color="primary">
          <ion-avatar slot="start">
            <img alt="brdFarm" src="assets/icon/brdfarm-01.png" />
          </ion-avatar>
          <ion-label> {{ appName }} {{ yearDesc }} </ion-label>
        </ion-item> -->
      </ion-title>
      <!-- <ion-buttons slot="start">
        <ion-menu-button auto-hide="false"></ion-menu-button>
      </ion-buttons> -->
      <ion-buttons slot="primary">
        <ion-button (click)="openUserMenu()">
          <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content *ngFor="let item of fmdata" style="--background:tranparent;" id="con" class="animate__animated imgCane1"
    [ngClass]="{animate__fadeIn: start}">

    <ion-refresher slot="fixed" (ionRefresh)="loadNewAlldata($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div class="img-cov">
      <img src="{{ item.pic_url}}" class="img-dis" />
      <div class="ribbon">
        <ion-text>
          {{ item.fmname }}
        </ion-text>
        <p class="gfSriracha txtSmall">ชาวไร่เกรด {{ item.gradeFM1 }}</p>
        <i></i>
        <i></i>
        <i></i>
      </div>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-icon name="call-outline txtWhite"></ion-icon>
            <ion-text class="txtWhite txtSmall">{{ item.tel }} <ion-icon (click)="goProfile()" name="create-outline">
              </ion-icon>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text class="txtWhite">โซน {{ item.SUPZONE }} นสส. {{ item.SUPCODE }}</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <!-- ข้อมูลด้าน พื้นที่ปลูกอ้อยปีปัจจุบัน -->
    <ion-card class=" boxGreenPowerpointR bgGreenSoft divPadding-10" style="margin-bottom: 25px;">
      <ion-card-content>
        <!-- <div style="margin-top: 3%;"> -->
        <ion-card-title style="margin-bottom: 3%;" color="dark">พื้นที่ปลูกอ้อย(ไร่)</ion-card-title>
        <!-- สรุปประเภทอ้อบ -->
        <div class="w3-panel w3-card-4 w3-pale-green" style="padding-top: 10px;padding-bottom: 10px">
          <h5>
            <ion-icon name="pie-chart-outline"></ion-icon> ประเภทอ้อย
          </h5>
          <ion-grid style="margin-top: 5px;">
            <ion-row>
              <ion-col>
                <canvas #doughnutCanvas style="position: relative; height:10vh; width:30vw"></canvas>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>

        <ion-accordion-group style="margin-top: 2px;">
          <ion-accordion value="first">
            <ion-item slot="header">
              <ion-label class="txtLarger">
                <ion-icon name="list-outline"></ion-icon>
                พื้นที่รวม {{ sumcpFm.sumarea | number: '1.1-2'}} ไร่
              </ion-label>
            </ion-item>
            <div slot="content">
              <ion-item [button]="true" lines="full">
                <ion-icon name="chevron-forward-outline" slot="start" color="primary"></ion-icon>
                <ion-label>ปลายฝน</ion-label>
                <ion-label class="w3-display-right">{{ sumcpFm.sumer | number: '1.1-2' }}</ion-label>
              </ion-item>
              <ion-item [button]="true">
                <ion-icon color="warning" slot="start" name="chevron-forward-outline"></ion-icon>
                <ion-label>อ้อยตอ</ion-label>
                <ion-label class="w3-display-right">{{ sumcpFm.sumst | number: '1.1-2' }}</ion-label>
              </ion-item>
              <ion-item [button]="true">
                <ion-icon color="success" slot="start" name="chevron-forward-outline"></ion-icon>
                <ion-label>ต้นฝน</ion-label>
                <ion-label class="w3-display-right">{{ sumcpFm.sumsr | number: '1.1-2' }}</ion-label>
              </ion-item>
              <ion-item [button]="true">
                <ion-icon color="danger" slot="start" name="chevron-forward-outline"></ion-icon>
                <ion-label>เสียหาย</ion-label>
                <ion-label class="w3-display-right">{{ sumcpFm.sumcl | number: '1.1-2' }}</ion-label>
              </ion-item>
              <ion-item [button]="true">
                <ion-icon color="medium" slot="start" name="chevron-forward-outline"></ion-icon>
                <ion-label>แปลงไถเตรียม</ion-label>
                <ion-label class="w3-display-right">
                  {{ sumcpFm.sumERforearm+sumcpFm.sumSRforearm+sumcpFm.sumSTforearm | number: '1.1-2' }}</ion-label>
              </ion-item>
              <ion-text class="txtSmall w3-right">*ยืนยันปลูกเสร็จแล้ว</ion-text>
            </div>
          </ion-accordion>
        </ion-accordion-group>

        <!-- <ion-list>
          <ion-item class="txtxlarge txtBold" [button]="true" lines="full">
            <ion-label>พื้นที่รวม</ion-label>
            <ion-label class="w3-display-right">
              {{ sumcpFm.sumarea | number: '1.1-2'}}
            </ion-label>
          </ion-item>
        </ion-list> -->
        <!-- </div> -->
      </ion-card-content>
    </ion-card>

    <!-- ประเมินอ้อย -->
    <ion-card class=" boxGreenPowerpointL bgGreenSoft divPadding-10" style="margin-bottom: 25px;">
      <ion-card-content>
        <ion-grid [fixed]="true">
          <ion-row class="ion-text-center">
            <ion-col>
              <ion-text class="txtLarge txtBolder">
                <ion-icon name="flag-outline"></ion-icon> เป้าหมายปริมาณอ้อย
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-grid class="divPadding-10">
            <ion-row
              class="ion-text-center borderRainbow w3-animate-zoom animate__animated animate__bounce animate__slow">
              <ion-col>
                <ion-text class="txtxxlarge txtBolder txtWhite txtShadowB gfChonburi">
                  {{ item.target_cane | number: '1.0-0'}}</ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-grid class="divPadding-10">
            <ion-row>
              <ion-col>
                <div class="w3-light-grey paddingTB5 w3-large w3-center">
                  <div class="w3-container w3-padding-small w3-blue w3-round w3-center txtSmall" [style.width.%]="pcFm"
                    style="margin-bottom: 3px;">
                    {{pcFm | number: '1.0-0'}}%
                  </div>
                  <ion-grid>
                    <ion-row>
                      <ion-col size="7" class="ion-text-left w3-lime">
                        <ion-icon name="person"></ion-icon> ท่านประเมิน <ion-icon name="chevron-forward-outline">
                        </ion-icon>
                      </ion-col>
                      <ion-col size="5" class="ion-text-right w3-khaki">
                        {{ item.Assess_left_fm | number: '1.0-0' }}
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
                <div class="w3-light-grey paddingTB5 w3-large w3-center">
                  <div class="w3-container w3-padding-small w3-light-blue w3-round w3-center txtSmall"
                    [style.width.%]="pcSupcode" style="margin-bottom: 3px;">
                    {{pcSupcode | number: '1.0-0'}}%
                  </div>
                  <ion-grid>
                    <ion-row>
                      <ion-col size="7" class="ion-text-left w3-lime">
                        <ion-icon name="people"></ion-icon> นสส.ประเมิน <ion-icon name="chevron-forward-outline">
                        </ion-icon>
                      </ion-col>
                      <ion-col size="5" class="ion-text-right w3-khaki">{{ assessCane | number: '1.0-0' }}</ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-row class="ion-text-center">
            <ion-col>
              <ion-text class="txtSmall">*หักพื้นที่เสียหาย ตัดพันธุ์ สูญเสียแล้ว</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <!-- อ้อยเข้าหีบ -->
    <ion-card class=" boxGreenPowerpointL bgGreenSoft divPadding-10" style="margin-bottom: 25px;">
      <ion-card-content>
        <ion-grid [fixed]="true">
          <ion-row class="ion-text-center">
            <ion-col>
              <ion-text class="txtLarge txtBolder">
                <ion-icon name="bus-outline"></ion-icon> อ้อยเข้าหีบ
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row class="ion-text-center w3-animate-zoom animate__animated animate__bounce animate__slow">
            <ion-col>
              <ion-text class="txtxxlarge txtBolder txtRed gfChonburi">
                {{ cpcSummaryFm.wgt_net | number: '1.1-2'}}</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div class="w3-light-grey paddingTB5 w3-large w3-center">
                <div class="w3-container w3-padding-small w3-light-blue w3-round w3-center txtSmall"
                  [style.width.%]="cpcSummaryFm.pccanein" style="margin-bottom: 3px;">
                  {{ cpcSummaryFm.pccanein | number: '1.0-0'}}%
                </div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="ion-text-center">
            <ion-col>
              <ion-text class="txtSmall">**ข้อมูล ณ {{ cpcSummaryFm.dataDate }}</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-list>
          <ion-item [button]="true" lines="full">
            <ion-icon color="primary" slot="start" name="battery-full" size="large"></ion-icon>
            <ion-label>ประเมิน</ion-label>
            <ion-label class="w3-display-right">{{ cpcSummaryFm.assess | number: '1.1-2' }}</ion-label>
          </ion-item>
          <ion-item [button]="true" lines="full">
            <ion-icon color="warning" slot="start" name="battery-half" size="large"></ion-icon>
            <ion-label>เข้าหีบ</ion-label>
            <ion-label class="w3-display-right">{{ cpcSummaryFm.wgt_net | number: '1.1-2' }}</ion-label>
          </ion-item>
          <ion-item [button]="true">
            <ion-icon color="danger" slot="start" name="battery-dead" size="large"></ion-icon>
            <ion-label>คงเหลือ</ion-label>
            <ion-label class="w3-display-right">{{ cpcSummaryFm.caneleft | number: '1.1-2' }}</ion-label>
          </ion-item>
          <ion-item [button]="true">
            <ion-icon color="success" slot="start" name="flask" size="large"></ion-icon>
            <ion-label>ซีซีเอส</ion-label>
            <ion-label class="w3-display-right">{{ cpcSummaryFm.ccs | number: '1.1-2' }}</ion-label>
          </ion-item>
          <ion-item [button]="true">
            <ion-icon color="success" slot="start" name="checkmark" size="large"></ion-icon>
            <ion-label>ตัดเสร็จ(แปลง)</ion-label>
            <ion-label class="w3-display-right">{{ cpcSummaryFm.cntCuted }}</ion-label>
          </ion-item>
          <ion-item [button]="true">
            <ion-icon color="danger" slot="start" name="heart" size="large"></ion-icon>
            <ion-label>ผลผลิต</ion-label>
            <ion-label class="w3-display-right">{{ cpcSummaryFm.yieldCuted | number: '1.1-2' }}</ion-label>
          </ion-item>
          <ion-text class="txtSmall w3-right">*ประเมิน หัก ตัดพันธุ์ สูญเสียแล้ว</ion-text>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <!-- ข้อมูลด้านสินเชื่อ -->
    <ion-card class="boxGreenPowerpointR bgGreenSoft divPadding-10" style="margin-bottom: 25px;">
      <ion-card-content>
        <div style="margin-top: 3%;">
          <ion-card-title style="margin-bottom: 3%;" color="dark">ข้อมูลด้านสินเชื่อ</ion-card-title>
          <ion-list>
            <ion-item [button]="true" lines="full">
              <ion-icon color="primary" slot="start" name="person-outline" size="large"></ion-icon>
              <ion-label>
                เกรดชาวไร่
                <a href="https://storage.cloud.google.com/smartfarm/imges/gradeFarmer6768.jpg" target="_blank">?</a>
                <!-- <a (click)="setOpen(true)"> ? </a> -->
                <ion-modal [isOpen]="isModalOpen">
                  <ng-template>
                    <ion-header>
                      <ion-toolbar>
                        <ion-title>เงื่อนไขการจ่ายเงินส่งเสริม</ion-title>
                        <ion-buttons slot="end">
                          <ion-button (click)="setOpen(false)">ปิด</ion-button>
                        </ion-buttons>
                      </ion-toolbar>
                    </ion-header>
                    <ion-content class="ion-padding">
                      <ion-img src="https://storage.cloud.google.com/smartfarm/imges/gradeFarmer6768.jpg" alt="">
                      </ion-img>
                    </ion-content>
                  </ng-template>
                </ion-modal>
              </ion-label>
              <span class="w3-badge w3-large w3-green w3-display-right  w3-margin-right"
                *ngIf="sumcpFm.GradeLoan == '1'">
                {{ sumcpFm.GradeLoan }} </span>
              <span class="w3-badge w3-large w3-yellow w3-display-right  w3-margin-right"
                *ngIf="sumcpFm.GradeLoan == '2'"> {{ sumcpFm.GradeLoan }} </span>
              <span class="w3-badge w3-large w3-red w3-display-right  w3-margin-right" *ngIf="sumcpFm.GradeLoan == '3'">
                {{ sumcpFm.GradeLoan }} </span>
              <!-- <ion-badge color="primary" class="w3-display-right txtLarge">A </ion-badge> -->
              <!-- <ion-label class="w3-display-right">{{ sumcpFm.GradeLoan }} A </ion-label> -->
            </ion-item>
            <ion-item [button]="true" lines="full">
              <ion-icon color="primary" slot="start" name="battery-full" size="large"></ion-icon>
              <ion-label>วงเงินได้รับ</ion-label>
              <ion-label class="w3-display-right w3-margin-right">{{ sumcpFm.credit_approve | number: '1.1-2' }}
              </ion-label>
            </ion-item>
            <ion-item lines="full">
              <ion-grid>
                <ion-row>
                  <ion-col size="6" class="txtSmall ion-text-left">
                    <ion-text>วงเงิน {{ sumcpFm.credit_amount | number: '1.1-2' }}
                    </ion-text>
                  </ion-col>
                  <ion-col size="6" class="txtSmall ion-text-right">
                    <ion-text>ปัจจัย {{ sumcpFm.manure_amount | number: '1.1-2' }}</ion-text>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
            <ion-item [button]="true">
              <ion-icon color="primary" slot="start" name="people-outline" size="large"></ion-icon>
              <ion-label>วงเงินคนค้ำ</ion-label>
              <ion-label class="w3-display-right">{{ sumcpFm.guaranter | number: '1.1-2' }}</ion-label>
            </ion-item>
            <ion-item [button]="true">
              <ion-icon color="primary" slot="start" name="bus-outline" size="large"></ion-icon>
              <ion-label>วงเงินหลักทรัพย์</ion-label>
              <ion-label class="w3-display-right">{{ sumcpFm.sumRealty | number: '1.1-2' }}</ion-label>
            </ion-item>
            <ion-item [button]="true">
              <ion-icon color="primary" slot="start" name="documents-outline" size="large"></ion-icon>
              <ion-label>วงเงินคนค้ำ+หลักทรัพย์</ion-label>
              <ion-label class="w3-display-right">{{ sumcpFm.sumAllRealty | number: '1.1-2' }}</ion-label>
            </ion-item>
            <ion-item [button]="true">
              <ion-icon color="success" slot="start" name="battery-half" size="large"></ion-icon>
              <ion-label>วงเงินใช้ไป</ion-label>
              <ion-label class="w3-display-right">{{ sumcpFm.sum_ask_fact | number: '1.1-2' }}</ion-label>
            </ion-item>
            <ion-item [button]="true">
              <ion-icon color="danger" slot="start" name="battery-dead" size="large"></ion-icon>
              <ion-label>วงเงินคงเหลือ</ion-label>
              <ion-label class="w3-display-right">{{ sumcpFm.leftsumRealty | number: '1.1-2' }}</ion-label>
            </ion-item>
            <ion-item [button]="true">
              <ion-icon color="primary" slot="start" name="bus"></ion-icon>
              <ion-label>หลักทรัพย์ประเมิน</ion-label>
              <ion-label class="w3-display-right">{{ crFm.sumRealty | number: '1.1-2' }}</ion-label>
              <!-- <ion-label slot="end">{{ crFm.guaranter | number: '1.1-2' }}</ion-label> -->
            </ion-item>
            <ion-text class="txtSmall w3-right">*กรุณาเช็คกับฝ่ายสินเชื่ออีกครั้ง</ion-text>
          </ion-list>
        </div>
      </ion-card-content>
    </ion-card>

    <!-- ข้อมูลทั่วไป -->
    <ion-card class=" boxGreenPowerpointR bgGreenSoft">
      <ion-card-content>
        <div style="margin-top: 3%;">
          <ion-card-title style="margin-bottom: 3%;" color="dark">ข้อมูลทั่วไป</ion-card-title>
          <h4 class="head-pro" color="dark">
            <ion-icon name="location-outline" color="dark"></ion-icon> ทีอยู
          </h4>
          <p class="pro-text" color="dark">
            {{ item.HOMENO }} หมู่ {{ item.MOO }} ต. {{item.district}} อ.{{ item.county}} จ.{{ item.province }} {{ item.zip
            }}
          </p>
          <h3 class="head-pro">
            <ion-icon name="call-outline"></ion-icon> โทรศัพท์
          </h3>
          <p class="pro-text" color="dark">
            {{ item.tel }} sms {{ item.smsnumber }}
          </p>
          <h3 class="head-pro">
            <ion-icon name="share-social-outline"></ion-icon> โซเชียล
          </h3>
          <p class="pro-text" color="dark">
            Line: {{ item.line_id }} Facebook: {{ item.facebook }}
          </p>
          <h3 class="head-pro">
            <ion-icon name="mail-outline"></ion-icon> อีเมล์
          </h3>
          <p class="pro-text" color="dark">
            {{ item.email }}
          </p>
          <h3 class="head-pro">
            <ion-icon name="person-outline"></ion-icon> สมาชิก
          </h3>
          <p class="pro-text">โรงงาน : {{ item.fmcode_b1 }}</p>
          <p class="pro-text">สมาคม : {{ item.AssoID }}</p>
          <p class="pro-text">สอน. : {{ item.CARDFARMER }}</p>
          <p class="pro-text">กลุ่ม : {{ item.GROUPCODE }}</p>
          <h3 class="head-pro">
            <ion-icon name="podium-outline"></ion-icon> บัญชีธนาคาร
          </h3>
          <p class="pro-text">กรุงเทพ : {{ item.BANKBBL }}</p>
          <p class="pro-text">ธกส : {{ item.BANKTKS }}</p>
          <p class="pro-text">กรุงไทย : {{ item.BANKKTB }}</p>
        </div>
      </ion-card-content>
    </ion-card>

    <!-- Chart ประวัติพื้นที่ปลูก -->
    <div class="w3-panel w3-card-4 w3-pale-green" style="padding-top: 10px;padding-bottom: 10px">
      <h5>
        <ion-icon name="pie-chart-outline"></ion-icon> ประวัติพื้นที่ปลูก
      </h5>
      <ion-grid style="margin-top: 5px;">
        <ion-row>
          <ion-col>
            <canvas #barCanvas style="position: relative; height:10vh; width:30vw"></canvas>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <ion-card class="boxGreenPowerpointL bgGreenSoft " style="margin-top: 25px;margin-bottom: 25px">
      <ion-card-content>...as soon</ion-card-content>
      <i class="icon ion-refreshing"></i>
    </ion-card>

  </ion-content>

  <div *ngIf="!fmdata">
    <ion-text>No fmdata</ion-text>
  </div>

</div>
