<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      <ion-icon name="keypad-outline"></ion-icon>
      เรื่องอื่นๆ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-toolbar class="divMargin5">
    <ion-segment [scrollable]="true" value="all">
      <ion-segment-button [routerLink]="['/for-test']" value="map">
        <!-- <ion-segment-button value="map"> -->
        <ion-icon name="map-outline"></ion-icon>
        <ion-label>วัดแปลง</ion-label>
      </ion-segment-button>
      <ion-segment-button [routerLink]="['/finances']" value=" finance">
        <ion-icon name="cash-outline"></ion-icon>
        <ion-label>สินเชื่อ</ion-label>
      </ion-segment-button>
      <!-- <ion-segment-button value="factor">
        <ion-icon name="bus-outline"></ion-icon>
        <ion-label>ปัจจัย</ion-label>
      </ion-segment-button> -->
      <ion-segment-button value="upload">
        <!-- <ion-segment-button [routerLink]="['/t-upload']" value="upload"></ion-segment-button> -->
        <ion-icon name="cloud-upload-outline"></ion-icon>
        <ion-label>Upload</ion-label>
      </ion-segment-button>
      <ion-segment-button value="factor">
        <ion-icon name="id-card-outline"></ion-icon>
        <ion-label>Member</ion-label>
      </ion-segment-button>
      <ion-segment-button value="test">
        <!-- <ion-segment-button [routerLink]="['/test']" value="test"></ion-segment-button> -->
        <ion-icon name="logo-angular"></ion-icon>
        <ion-label>Test</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <!-- <div class="w3-display-container">
    <iframe onclick="window.open('https://brr-smartfarm.web.app/#/News',
     '_system', 'location=yes'); return false;" src="https://brr-smartfarm.web.app/#/News"
      style="width:100%; height:300px;"></iframe>
  </div> -->

  <ion-card>
    <ion-card-cntent>
      <swiper-container [pagination]="true" navigation="true">
        <swiper-slide class="swiperslide">
          <ion-grid>
            <ion-row class="w3-center">
              <ion-col class="divPadding-2 ">
                <p> <a href="https://brr-smartfarm.web.app/#/News" target="_blank">
                    <div class="w3-card-4">
                      <img class="w3-border w3-padding" src="../../assets/images/canerain.png" alt="Lights">
                    </div>
                    <div class="w3-display-middle  w3-large">
                      <ion-title size="large" class="txtWhite">ข่าวสาร </ion-title>
                      <ion-icon name="logo-twitch" size="large"></ion-icon>
                    </div>
                  </a>
                </p>
              </ion-col>
              <ion-col class="divPadding-2 ">
                <p> <a href="https://www.facebook.com/groups/2649255415167990/about?locale=th_TH" target="_blank">
                    <div class="w3-card-4">
                      <img class="w3-border w3-padding" src="../../assets/images/brdfarm-splash.png" alt="Lights">
                    </div>
                    <div class="w3-display-middle  w3-large">
                      <ion-title size="large" class="txtWhite">Facebook </ion-title>
                      <ion-icon name="logo-facebook" size="large"></ion-icon>
                    </div>
                  </a>
                </p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="divPadding-2 ">
                <p> <a href="https://www.youtube.com/@TV-we9xz" target="_blank">
                    <div class="w3-card-4">
                      <img class="w3-border w3-padding" src="../../assets/images/canerain-fb-01.jpg" alt="Lights">
                    </div>
                    <div class="w3-display-middle  w3-large">
                      <ion-title size="large" class="txtWhite">Youtube </ion-title>
                      <ion-icon name="logo-youtube" size="large"></ion-icon>
                    </div>
                  </a>
                </p>
              </ion-col>
              <ion-col class="divPadding-2 ">
                <p> <a href="https://www.youtube.com/@TV-we9xz" target="_blank">
                    <img class="w3-border w3-padding" src="../../assets/images/cane-fb-02.jpg" alt="Lights">
                    <div class="w3-display-middle  w3-large">
                      <ion-title size="large" class="txtWhite">Youtube </ion-title>
                      <ion-icon name="logo-youtube" size="large"></ion-icon>
                    </div>
                  </a>
                </p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </swiper-slide>
        <swiper-slide class="swiperslide">
          <img src="../../assets/images/cane-fb-05.jpg" alt="Lights">
        </swiper-slide>
        <swiper-slide class="swiperslide">
          <img src="../../assets/images/cane-fb-03.jpg" alt="Lights">
        </swiper-slide>
      </swiper-container>
    </ion-card-cntent>
  </ion-card>

  <div class="w3-display-container">
    <img src="../../assets/images/cane-fb-04.jpg" alt="Lights">
    <!-- <div class="w3-display-topleft w3-container">Top Left</div>
    <div class="w3-display-topright w3-container">Top Right</div>
    <div class="w3-display-bottomleft w3-container">Bottom Left</div>
    <div class="w3-display-bottomright w3-container">Bottom Right</div>
    <div class="w3-display-left w3-container">Left</div>
    <div class="w3-display-right w3-container">Right</div> -->
    <div class="w3-display-middle w3-large">
      <ion-title size="large" class="txtWhite">...อยู่ระหว่างพัฒนา <ion-spinner name="lines" color="danger">
        </ion-spinner>
      </ion-title>
    </div>
    <!-- <div class="w3-display-topmiddle w3-container">Top Middle</div>
    <div class="w3-display-bottommiddle w3-container">Bottom Middle</div> -->
  </div>

</ion-content>
