<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      <ion-icon name="keypad-outline"></ion-icon>
      เรื่องอื่นๆ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-toolbar class="divMargin5">
    <ion-segment [scrollable]="true" value="all">
      <!-- <ion-segment-button [routerLink]="['/for-test']" value="map"> -->
      <ion-segment-button value="map">
        <ion-icon name="map-outline"></ion-icon>
        <ion-label>วัดแปลง</ion-label>
      </ion-segment-button>
      <ion-segment-button value="finance">
        <ion-icon name="cash-outline"></ion-icon>
        <ion-label>สินเชื่อ</ion-label>
      </ion-segment-button>
      <ion-segment-button value="factor">
        <ion-icon name="bus-outline"></ion-icon>
        <ion-label>ปัจจัย</ion-label>
      </ion-segment-button>
      <ion-segment-button value="upload">
        <!-- <ion-segment-button [routerLink]="['/t-upload']" value="upload"></ion-segment-button> -->
        <ion-icon name="cloud-upload-outline"></ion-icon>
        <ion-label>Upload</ion-label>
      </ion-segment-button>
      <ion-segment-button value="factor">
        <ion-icon name="id-card-outline"></ion-icon>
        <ion-label>Member</ion-label>
      </ion-segment-button>
      <ion-segment-button value="test">
        <!-- <ion-segment-button [routerLink]="['/test']" value="test"></ion-segment-button> -->
        <ion-icon name="logo-angular"></ion-icon>
        <ion-label>Test</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-card>
    <ion-card-cntent>
      <swiper-container [pagination]="true" navigation="true">
        <swiper-slide class="swiperslide">
          <ion-grid>
            <ion-row class="w3-center">
              <ion-col class="divPadding-2 ">
                <img src="../../assets/images/brdfarm-splash.png" alt="Lights">
              </ion-col>
              <ion-col class="divPadding-2 ">
                <img src="../../assets/images/brdfarm-splash.png" alt="Lights">
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="divPadding-2 ">
                <img src="../../assets/images/brdfarm-splash.png" alt="Lights">
              </ion-col>
              <ion-col class="divPadding-2 ">
                <img src="../../assets/images/brdfarm-splash.png" alt="Lights">
              </ion-col>
            </ion-row>
          </ion-grid>
        </swiper-slide>
        <swiper-slide class="swiperslide">
          <img src="../../assets/images/brdfarm-splash.png" alt="Lights">
        </swiper-slide>
        <swiper-slide class="swiperslide">
          <img src="../../assets/images/brdfarm-splash.png" alt="Lights">
        </swiper-slide>
      </swiper-container>
    </ion-card-cntent>
  </ion-card>


  <div class="w3-display-container">
    <img src="../../assets/images/brdfarm-splash.png" alt="Lights">
    <!-- <div class="w3-display-topleft w3-container">Top Left</div>
    <div class="w3-display-topright w3-container">Top Right</div>
    <div class="w3-display-bottomleft w3-container">Bottom Left</div>
    <div class="w3-display-bottomright w3-container">Bottom Right</div>
    <div class="w3-display-left w3-container">Left</div>
    <div class="w3-display-right w3-container">Right</div> -->
    <div class="w3-display-middle w3-large">
      <ion-title size="large" class="txtWhite">...อยู่ระหว่างพัฒนา <ion-spinner name="lines" color="danger">
        </ion-spinner>
      </ion-title>
    </div>
    <!-- <div class="w3-display-topmiddle w3-container">Top Middle</div>
    <div class="w3-display-bottommiddle w3-container">Bottom Middle</div> -->
  </div>

</ion-content>
