<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      <ion-icon name="keypad-outline"></ion-icon>
      เรื่องอื่นๆ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-toolbar>
    <ion-segment [scrollable]="true" value="all">
      <ion-segment-button [routerLink]="['/for-test']" value="map">
        <ion-icon name="map-outline"></ion-icon>
        <ion-label>วัดแปลง</ion-label>
      </ion-segment-button>
      <ion-segment-button value="finance">
        <ion-icon name="cash-outline"></ion-icon>
        <ion-label>สินเชื่อ</ion-label>
      </ion-segment-button>
      <ion-segment-button value="factor">
        <ion-icon name="bus-outline"></ion-icon>
        <ion-label>ปัจจัย</ion-label>
      </ion-segment-button>
      <ion-segment-button value="factor">
        <ion-icon name="bus-outline"></ion-icon>
        <ion-label>...</ion-label>
      </ion-segment-button>
      <ion-segment-button value="factor">
        <ion-icon name="bus-outline"></ion-icon>
        <ion-label>...</ion-label>
      </ion-segment-button>
      <ion-segment-button value="factor">
        <ion-icon name="bus-outline"></ion-icon>
        <ion-label>...</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div class="w3-display-container">
    <img src="../../assets/images/brdfarm-splash.png" alt="Lights">
    <!-- <div class="w3-display-topleft w3-container">Top Left</div>
    <div class="w3-display-topright w3-container">Top Right</div>
    <div class="w3-display-bottomleft w3-container">Bottom Left</div>
    <div class="w3-display-bottomright w3-container">Bottom Right</div>
    <div class="w3-display-left w3-container">Left</div>
    <div class="w3-display-right w3-container">Right</div> -->
    <div class="w3-display-middle w3-large">
      <ion-title size="large" class="txtWhite">...อยู่ระหว่างพัฒนา <ion-spinner name="lines" color="danger">
        </ion-spinner>
      </ion-title>
    </div>
    <!-- <div class="w3-display-topmiddle w3-container">Top Middle</div>
    <div class="w3-display-bottommiddle w3-container">Bottom Middle</div> -->
  </div>

  <fieldset>
    <legend>Test</legend>
    <ion-input label="Solid input" label-placement="floating" fill="solid" placeholder="Enter text"></ion-input>
    <br />
    <ion-input label="Outline input" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
    <ion-list>
      <ion-item>
        <ion-select label="Default label" placeholder="Favorite Fruit">
          <ion-select-option value="apple">Apple</ion-select-option>
          <ion-select-option value="banana">Banana</ion-select-option>
          <ion-select-option value="orange">Orange</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-select label="Fixed label" label-placement="fixed" placeholder="Favorite fruit">
          <ion-select-option value="apple">Apple</ion-select-option>
          <ion-select-option value="banana">Banana</ion-select-option>
          <ion-select-option value="orange">Orange</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-select label="Stacked label" label-placement="stacked">
          <ion-select-option value="apple">Apple</ion-select-option>
          <ion-select-option value="banana">Banana</ion-select-option>
          <ion-select-option value="orange">Orange</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-select label="Floating label" label-placement="floating">
          <ion-select-option value="apple">Apple</ion-select-option>
          <ion-select-option value="banana">Banana</ion-select-option>
          <ion-select-option value="orange">Orange</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </fieldset>

</ion-content>
