ion-content {
    --padding-top: 30%;
    --padding-start: 5%;
    --padding-end: 5%;
    --background: url('../../../assets/images/canerain.png') 0 0/100% 70% no-repeat;
}

.input-group {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
}

.errors {
    font-size: small;
    color: #fff;
    background: var(--ion-color-danger);
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.logo {
    border-color: white;
    border-width: 10px;
}

.container {
    height: 200px;
    position: relative;
    border: 3px solid green;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}