<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>test</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-searchbar (ionInput)="handleInput($event.detail.value)"></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let item of results">
      {{ item.groupcode }} - {{ item.groupname }}
    </ion-item>
  </ion-list>

  <!-- <ion-segment (ionChange)="filterItems($event.detail.value)">
    <ion-segment-button value="Category A">
      Category A
    </ion-segment-button>
    <ion-segment-button value="Category B">
      Category B
    </ion-segment-button>
    <ion-segment-button value="Category C">
      Category C
    </ion-segment-button>
  </ion-segment> -->

</ion-content>
