<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>ขอเกี้ยว</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="w3-panel w3-pale-red">
    <h3>อยู่ระหว่างพัฒนา</h3>
    <p class="gfFahkwang">...ในเวอร์ชั่นต่อไป ท่านจะสามารถขอเกี้ยวและปัจจัย ได้เองผ่านแอพนี้..โปรดติดตามการแจ้งอัพเดตแอพ
      นะครับ</p>
  </div>

  <form [formGroup]="frm_getfn" (ngSubmit)="saveApplyFn(frm_getfn.value);frm_getfn.reset();" novalidate>

    <ion-input type="hidden" formControlName="itid" [(ngModel)]="itid"></ion-input>
    <ion-input type="hidden" formControlName="intlandno" [(ngModel)]="intlandno"></ion-input>
    <ion-input type="hidden" formControlName="fmcode" [(ngModel)]="fmcode"></ion-input>
    <ion-input type="hidden" formControlName="yearid" [(ngModel)]="year_th"></ion-input>
    <ion-input type="hidden" formControlName="supcode" [(ngModel)]="supcode"></ion-input>

    <div class="w3-panel w3-pale-blue w3-leftbar w3-rightbar w3-border-blue">
      <p>แปลง {{cpdata.CaneTypeName}} พื้นที่ {{cpdata.landvalue}} ไร่</p>
      <p>วงเงินได้รับ {{ cpdata.credit_amount | number: '1.1-2'}} บาท</p>
      <p>ใช้ไป 0 บาท</p>
      <p>คงเหลือ 0 บาท</p>
    </div>

    <ion-item>
      <ion-label position="floating">วัตถุประสงค์:</ion-label>
      <ion-input formControlName="comment1" type="text" helperText="วัตถุประสงค์ในการขอสินเชื่อ" placeholder="...">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">จำนวนเงินที่ขอ:</ion-label>
      <!-- <input type="text" formControlName="money_amt" [(ngModel)]="moneyamt" autocomplete="off"
        (keydown)="numberCheck($event)" (keyup)="CommaFormatted($event)" /> -->
      <ion-input formControlName="money_amt" [(ngModel)]="moneyamt" type="type" class="txtxxlarge txtRed"
        autocomplete="off" (ionBlur)="checkOver($event)" (keydown)="numberCheck($event)" (focus)="setMoney()"
        (keyup)="CommaFormatted($event)">
      </ion-input>
    </ion-item>

    <div class="ion-text-center divPadding-5">
      <ion-button [disabled]="!frm_getfn.valid" (click)="saveApplyFn(frm_getfn.value)">
        <ion-icon slot="start" name="save"></ion-icon>
        ตกลง
      </ion-button>
    </div>

  </form>

  <!-- {{ frm_getfn.value | json  }} -->

</ion-content>
