div.example {
    background-color: lightgrey;
    padding: 20px;
}

@media screen and (min-width: 601px) {
    div.example {
        font-size: 80px;
    }
}

@media screen and (max-width: 600px) {
    div.example {
        font-size: 30px;
    }
}

// table-tr:hover {
//     font-weight: bolder;
//     color: red;
//     background-color: rgb(255, 233, 160);
// }

tr:hover {
    background-color: rgb(255, 166, 2);
}