<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      <ion-icon name="bus-outline"></ion-icon>
      เปิดหีบ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="bg-itbrdDev w3-opacity">
    <div class="w3-display-topleft">
      <p>brdFarm app</p>
    </div>
    <div class="w3-display-middle ion-text-center">
      <ion-text class="txtRed txtLarge">COMING SOON ธค.66</ion-text>
      <hr>
      <p #datecpc class="txtShadowW w3-khaki"></p>
    </div>
    <div class="w3-display-bottomleft animate__animated animate__bounce animate__slow">
      <ion-label>...itBRD...</ion-label>
      <ion-spinner name="lines" color="danger"></ion-spinner>
      <!-- <p>...itBRD</p> -->
    </div>
  </div>

</ion-content>
