/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import "~animate.css/animate.css";
@import "~animate.css/animate.compat.css";

/* KTD */
// @import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chonburi&family=Prompt&family=Sriracha&family=Mitr&family=Sarabun&fmmily=K2D&family=Pattata&family=Maitree&family=KoHo&family=Fahkwang&display=swap');
// @import "bootstrap";
@import url('assets/css/ionicons.css');

// ++++++++++++++++++ Google font ++++++++++++++++++++++++++++
.gfFahkwang {
    font-family: 'Fahkwang', cursive;
}

.gfMitr {
    font-family: 'Mitr', cursive;
}

.gfSarabun {
    font-family: 'Sarabun', cursive;
}

.gfK2D {
    font-family: 'K2D', cursive;
}

.gfPattata {
    font-family: 'Pattata', cursive;
}

.gfMaitree {
    font-family: 'Maitree', cursive;
}

.gfKoHo {
    font-family: 'KoHo', cursive;
}

.gfChonburi {
    font-family: 'Chonburi', cursive;
}

.gfSriracha {
    font-family: 'Sriracha', cursive;
}

* {
    font-family: 'Mitr', sans-serif !important;
}

body.dark {
    --ion-color-primary: #428cff;
    --ion-color-primary-rgb: 66, 140, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3a7be0;
    --ion-color-primary-tint: #5598ff;

    --ion-color-secondary: #50c8ff;
    --ion-color-secondary-rgb: 80, 200, 255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #46b0e0;
    --ion-color-secondary-tint: #62ceff;

    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106, 100, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47, 223, 117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255, 213, 52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255, 73, 97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244, 245, 248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34, 36, 40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
}

.md body.dark {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18, 18, 18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

    --ion-card-background: #1e1e1e;
    --ion-color-dark: #ffffff;
    --ion-color-light: #121212;

    .load {
        color: #ffffff;
        --background: var(--ion-color-step-100);
    }

    ion-item {
        --border-color: var(--ion-color-step-500);
    }

    .top-col {
        color: #ffffff;
    }

    .set-cal {
        --border-color: rgba(0, 0, 0, 0);
    }

    ion-tab-button {
        --color: #ffffff;
        --color-selected: #8cbcff;
    }

    .toast {
        --background: var(--ion-color-step-950);
        color: #000000;
    }

    // ion-accordion{
    //   ion-item{

    //   }
    // }
}

.ios body.dark {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0, 0, 0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-item-background: #000000;

    --ion-card-background: #1c1c1d;
}

.ios body.dark ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
    --ion-item-background: var(--ion-color-step-150);
}

.md body {
    --ion-background-color: #ffffff;
    --ion-background-color-rgb: 255, 255, 255, 0;
    --ion-text-color: #000000;
    --ion-text-color-rgb: 0, 0, 0;
    color: #000000;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #ffffff;

    --ion-toolbar-background: #f0f0f0;

    --ion-tab-bar-background: #ffffff;

    --ion-card-background: #ffffff;

    ion-card-title {
        color: #000000;
    }

    ion-card-subtitle {
        color: #2a2a2a;
    }

    .load {
        color: #000000;
        --background: #ffffff;
    }

    --ion-color-dark: #000000;
    --ion-color-light: #ffffff;

    ion-accordion {
        ion-item {
            --color: #000000;

            ion-label {
                --color: #000000;
            }
        }
    }

    .top-col {
        color: #000000;
    }

    ion-tab-button {
        --color: #000000;
        --color-selected: #2f86ff;
    }

    .toast {
        --background: var(--ion-color-step-50);
        color: #ffffff;
    }
}

ion-item {
    --border-color: var(--ion-color-step-800);
    align-items: center;
}

ion-action-sheet.sc-ion-action-sheet-md-h {
    --button-color: #000000;
}

.md body.dark {
    ion-action-sheet.sc-ion-action-sheet-md-h {
        --button-color: #ffffff;
    }

    ion-card-title {
        color: #ffffff;
    }

    ion-card-subtitle {
        color: #e7e6e6;
    }

}

ion-tab-bar {
    border: 0;
}

// ion-card.md.hydrated {
//   /* opacity: 0.95; */
//   background-color: transparent;
//   backdrop-filter: blur(20px);
// }

// ++++++++++ Text ++++++++++++++++++++
.txtSmall {
    font-size: small;
}

.txtLarge {
    font-size: large;
}

.txtLarger {
    font-size: larger;
}

.txtxxlarge {
    font-size: xx-large;
}

.txtRed {
    color: red;
}

.txtBlack {
    color: black;
}

.txtWhite {
    color: rgb(255, 255, 255);
}

.txtBlue {
    color: blue;
}

.txtSky {
    color: skyblue;
}

.txtOrange {
    color: orange;
}

.txtGreen {
    color: green;
}

.txtGray {
    color: gray;
}

.txtBold {
    font-weight: bold;
}

.txtBolder {
    font-weight: bolder;
}

.pro-text {
    text-indent: 30px;
    // font-size: 17px;
    color: var(--ion-color-dark);
}

.txtxxLBR {
    font-size: xx-large;
    color: red;
    font-weight: bold;
}

.txtShadowW {
    text-shadow: 2px 2px 0 #ffffff;
}

.txtShadowB {
    text-shadow: 1px 1px 0 #000000;
}


// ++++++++++++++++ Action sheet ++++++++++++++++++++++++++
/* Note: These styles should be located in your global stylesheet */
ion-action-sheet.acs-orange .action-sheet-group {
    background: #f58840;
}

ion-action-sheet.acs-orange .action-sheet-title {
    color: #000000;
    font-weight: bold;
    background-color: #797979;
}

ion-action-sheet.acs-orange .action-sheet-cancel::after {
    background: #e97223;
}

ion-action-sheet.acs-orange .action-sheet-button,
ion-action-sheet.acs-orange .action-sheet-button.ion-focused {
    color: #000000;
}

@media (any-hover: hover) {
    ion-action-sheet.acs-orange .action-sheet-button:hover {
        color: #000000;
        font-weight: bolder
    }
}

ion-action-sheet.acs-orange ion-backdrop {
    opacity: 0.6;
}

// ++++++++++++++++ Alert +++++++++++++++++++++++++++++
.my-custom-class {
    --background: #e5e5e5;
}

.btnCancle {
    color: antiquewhite !important;
    border: solid 1px antiquewhite !important;
}

.btnOk {
    color: rgb(90, 114, 252) !important;
    border: solid 1px antiquewhite !important;
}

ion-alert.custom-alert {
    --backdrop-opacity: 0.7;
}

.custom-alert .alert-button-group {
    padding: 8px;
    background-color: rgb(107, 226, 252);
}

button.alert-button.alert-button-confirm {
    background-color: var(--ion-color-success);
    color: var(--ion-color-success-contrast);
}

.md button.alert-button.alert-button-confirm {
    border-radius: 4px;
}

.ios .custom-alert button.alert-button {
    border: 0.55px solid rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.2);
}

.ios button.alert-button.alert-button-cancel {
    border-right: 0;
    border-bottom-left-radius: 13px;
    border-top-left-radius: 13px;
}

.ios button.alert-button.alert-button-confirm {
    border-bottom-right-radius: 13px;
    border-top-right-radius: 13px;
}

// ++++++++++ background color ++++++++++++++++++++++++
.bgGray {
    background-color: rgb(137, 136, 136);
}

.bgGraySoft {
    background-color: rgb(225, 225, 225);
}

.bgBlack {
    background-color: black;
}

.bgWhite {
    background-color: white;
}

.bgRed {
    background-color: red;
}

.bgGreen {
    background-color: green;
}

.bgYellow {
    background-color: yellow;
}

.bgSkySoft {
    background-color: skyblue;
}

.bgYellowSoft {
    background-color: rgb(255, 255, 186);
}

.bgRedSoft {
    background-color: rgb(252, 169, 169);
}

.bgOrangeSoft {
    background-color: rgb(255, 218, 148);
}

.bgGreenSoft {
    background-color: rgb(199, 253, 199);
}

.bgGreenLight {
    background-color: rgb(52, 255, 52);
}

.bgBlackFg {
    background-color: black;
    color: rgb(2, 255, 129);
}

.bgcpOK {
    --background-color: #09FD0C;
}

.bgcpNon {
    --background-color: #fff314;
}

// +++++++++++++++++ border ++++++++++++++++++++++++
.borderDashData {
    border-style: dashed;
    border-width: 5px;
    border-color: red;

}

.borderRainbow {
    background-color: red;
    /* For browsers that do not support gradients */
    background-image: radial-gradient(circle, red, yellow, green);
}

.borderDashForm {
    border-style: dashed;
    border-width: 5px;
    border-color: rgb(23, 139, 255);
}

.borderNonlineRedius {
    /* top-left top-right bottom-right bottom-left */
    border-radius: 75px 75px 75px 75px;
}

.borderLineR {
    border: 1px solid rgb(255, 0, 0);
}

/* +++++++++++ สีพื้นหลัง ++++++++++++++++++*/
.yellowSoft {
    --background: #fdf6e6;
}

/* ++++++++++ div element ++++++++++++++++++*/
.divPadding-2 {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 5px 5px 5px 5px;
}

.divPadding-5 {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px
}

.divPadding-10 {
    --padding-top: 10px;
    --padding-bottom: 10px;
    --margin-top: 10px;
    --margin-bottom: 10px
}

.divMg-5 {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.divMg-10 {
    margin-top: 101px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.appsearchbar:hover {
    --background: #010101;
    --color: #ffffff;
    --border-radius: 5%;
    // display: flex;
    // --border-width: 10px;
    // --border-style: dashed;
}

.input1 {
    background-color: black;
    color: greenyellow;
    font-weight: bolder;
    font-size: large;
    text-align: center;
}

.input2 {
    background-color: black;
    color: red;
    font-weight: bolder;
    font-size: large;
    text-align: center;
}

.input3 {
    background-color: black;
    color: red;
    font-weight: bolder;
    font-size: large;
    text-align: center;
}

// +++++++++++++++ ภาพชาวไร่หน้าแรก +++++++++++++++++
.img-cov {
    padding: 5%;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 3;
    left: 15%;
}

.img-dis {
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.imgCane1 {
    background-image: url('assets/images/brdfarm-splash.png');
    background-repeat: no-repeat;
    opacity: 0.5;
}

.load {
    color: #ff8d37;
    --background: var(--ion-color-step-100);
}

// +++++++++++++++++ padding margin +++++++++++++++++++++++++++
.paddingLR5 {
    padding-left: 5px;
    padding-right: 5px;
}

.paddingLR10 {
    padding-left: 10px;
    padding-right: 10px;
}

.paddingTB5 {
    padding-top: 5px;
    padding-bottom: 5px;
}


.paddingTB10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.paddingAll10 {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

// ++++++++++++++++++ form +++++++++++++++++++++++++++
.inputBGBW:hover {
    background-color: black;
    color: rgb(2, 255, 129);
    font-weight: bolder;
    border-radius: 0px 75px 75px 0px;
}

// ++++++++++++++++++++ div element +++++++++++++++++++
.el-center {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 200px;
    // border: 3px solid green;
}

// ++++++++++++++++ row +++++++++++++++++++++++++++++
.rowHover:hover {
    font-weight: bolder;
    font-size: larger;
    color: red;
    background-color: rgb(255, 233, 160);
}

// ++++++++++++++++++ Ribbon ++++++++++++++++++++++++++++++
.ribbon {
    width: 250px;
    height: 50px;
    margin: 10px auto 0px;
    position: relative;
    color: #fff;
    font: 16px/18px sans-serif;
    text-align: center;
    text-transform: uppercase;
    background: #3D79D0;

    -webkit-animation: main 250ms;
    -moz-animation: main 250ms;
    -ms-animation: main 250ms;
    animation: main 250ms;
}

.ribbon i {
    position: absolute;
}

.ribbon i:first-child,
.ribbon i:nth-child(2) {
    position: absolute;
    left: -20px;
    bottom: -20px;
    z-index: -1;
    border: 20px solid transparent;
    border-right-color: #043140;

    -webkit-animation: edge 500ms;
    -moz-animation: edge 500ms;
    -ms-animation: edge 500ms;
    animation: edge 500ms;
}

.ribbon i:nth-child(2) {
    left: auto;
    right: -20px;
    border-right-color: transparent;
    border-left-color: #043140;
}

.ribbon i:nth-child(3),
.ribbon i:last-child {
    width: 20px;
    bottom: -20px;
    left: -60px;
    z-index: -2;
    border: 30px solid #1D53C0;
    border-left-color: transparent;

    -webkit-animation: back 600ms;
    -moz-animation: back 600ms;
    -ms-animation: back 600ms;
    animation: back 600ms;

    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
}

.ribbon i:last-child {
    bottom: -20px;
    left: auto;
    right: -60px;
    border: 30px solid #1D53C0;
    border-right-color: transparent;

    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}

// p {
//     text-align: center;
//     color: #ffffff;
//     font-weight: bolder;
// }

/* animations */

@-webkit-keyframes main {
    0% {
        -webkit-transform: scaleX(0);
    }

    100% {
        -webkit-transform: scaleX(1);
    }
}

@-webkit-keyframes edge {

    0%,
    50% {
        -webkit-transform: scaleY(0);
    }

    100% {
        -webkit-transform: scaleY(1);
    }
}

@-webkit-keyframes back {

    0%,
    75% {
        -webkit-transform: scaleX(0);
    }

    100% {
        -webkit-transform: scaleX(1);
    }
}


@-moz-keyframes main {
    0% {
        -moz-transform: scaleX(0);
    }

    100% {
        -moz-transform: scaleX(1);
    }
}

@-moz-keyframes edge {

    0%,
    50% {
        -moz-transform: scaleY(0);
    }

    100% {
        -moz-transform: scaleY(1);
    }
}

@-moz-keyframes back {

    0%,
    75% {
        -moz-transform: scaleX(0);
    }

    100% {
        -moz-transform: scaleX(1);
    }
}


@keyframes main {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}

@keyframes edge {

    0%,
    50% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}

@keyframes back {

    0%,
    75% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}

// +++++++++++++ box +++++++++++++++++++
.boxGrayShadow {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
}

.boxGreenShadow {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #7eff75;
}

.boxYellowShadow {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #ffe282;
}

.boxWhiteShadow {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #ffffff;
}

.boxRedShadow {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #fe8b7e;
}

.boxGreenPowerpointR {
    border-radius: 5px 20px 5px;
    margin-left: 5px;
    margin-right: 5px;
    // background: #BADA55;
}

.boxGreenPowerpointL {
    border-radius: 20px 0px 20px;
    // background: #BADA55;
    margin-left: 5px;
    margin-right: 5px;
}

// ++++++++++++++++ Progress bar ++++++++++++++++++++++++++++
// @import url("https://fonts.googleapis.com/css?family=Lato:300");

*,
*::before,
*::after {
    box-sizing: border-box;
}

/*** <--- CIRCLE STYLES ---> ***/
.wrap-circles {
    display: flex;
    min-height: 5vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    // background: #000;
}

.circle {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0.5rem;
    border-radius: 50%;
    background: #FFCDB2;
    overflow: hidden;
}

.circle.per-25 {
    background-image: conic-gradient(#B5838D 25%, #FFCDB2 0);
}

.circle.per-50 {
    background-image: conic-gradient(#B5838D 50%, #FFCDB2 0);
}

.circle.per-75 {
    background-image: conic-gradient(#B5838D 75%, #FFCDB2 0);
}

.circle.per-100 {
    background-image: conic-gradient(#B5838D 100%, #FFCDB2 0);
}

.circle .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 115px;
    height: 115px;
    background: #000;
    border-radius: 50%;
    font-size: 1.85em;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.75);
}

// ++++++++++++++++++ Stepper progress bar ++++++++++++++++++++++++++++++++
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;
}


* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: inherit;
}

// html {
//     box-sizing: border-box;
// }

// body {
//     background: #F3F4F6;
//     font-family: "Rubik", sans-serif;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     height: 100vh;
//     overflow: hidden;
//     margin: 0;
// }

// .container {
//     margin-top: 15px;
//     text-align: center;
// }

.progress-container::before {
    content: "";
    background: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

.progress {
    background: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}

// .circle {
//     background: #fff;
//     color: #999;
//     border-radius: 50%;
//     height: 50px;
//     width: 50px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     border: 3px solid var(--line-border-empty);
//     transition: .4s ease;
// }

.circle.active {
    border-color: var(--line-border-fill);
}

.btn {
    background-color: var(--line-border-fill);
    color: #fff;
    cursor: pointer;
    font-family: inherit;
    border: 0;
    border-radius: 6px;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}

.btn:active {
    transform: scale(0.98);
}

.btn:focus {
    outline: 0;
}

.btn:disabled {
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}

.mr-n2 {
    margin-right: -.75em !important;
}

// +++++++++++++  progress step from https://www.sliderrevolution.com/resources/css-progress-bar/ ++++++++++++++++++++++

// +++++++++++++++++++ Arrow +++++++++++++++++++++
.arrow-right {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    border-left: 10px solid green;
}

// .arrow-right {
//     border-top-right-radius: 500px;
//     border-bottom-right-radius: 500px;
//     //     border-top: 19px solid transparent;
//     //   border-bottom: 17px solid transparent;
//     // border-left: 17px solid #2f69aa;
// }

// .arrow-up {
//     width: 0;
//     height: 0;
//     border-left: 5px solid transparent;
//     border-right: 5px solid transparent;

//     border-bottom: 5px solid black;
// }

// .arrow-down {
//     width: 0;
//     height: 0;
//     border-left: 20px solid transparent;
//     border-right: 20px solid transparent;

//     border-top: 20px solid #f00;
// }

// .arrow-right {
//     width: 0;
//     height: 0;
//     border-top: 60px solid transparent;
//     border-bottom: 60px solid transparent;

//     border-left: 60px solid green;
// }

// .arrow-left {
//     width: 0;
//     height: 0;
//     border-top: 10px solid transparent;
//     border-bottom: 10px solid transparent;

//     border-right: 10px solid blue;
// }

// ++++++++++++++++++++++++ grad +++++++++++++++++++
.grad2 {
    height: 150px;
    width: 200px;
    background-color: red;
    /* For browsers that do not support gradients */
    background-image: radial-gradient(circle, red, yellow, green);
}

// ++++++++++++++ image ++++++++++++++++++++++
.bg-itbrdDev {
    /* Background image */
    background-image: url('/assets/images/brdfarm-splash.png');
    /* Full-screen */
    height: 100%;
    /* Center the background image */
    background-position: center;
    /* Scale and zoom in the image */
    background-size: cover;
    /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
    position: relative;
    /* Add a white text color to all elements inside the .bgimg container */
    color: white;
    /* Add a font */
    // font-family: "Courier New", Courier, monospace;
    /* Set the font-size to 25 pixels */
    // font-size: 18px;
}

// +++++++++++++++++++++++ ICON +++++++++++++++++++++++++++
// .icon-animated-vertical {
//     display: inline-block;
//     -moz-animation: vertical 2s 5 ease 2s;
//     -webkit-animation: vertical 2s 5 ease 2s;
//     -o-animation: vertical 2s 5 ease 2s;
//     -ms-animation: vertical 2s 5 ease 2s;
//     animation: vertical 2s 5 ease 2s
// }

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    12.5% {
        transform: translateX(-6px) rotateY(-5deg)
    }

    37.5% {
        transform: translateX(5px) rotateY(4deg)
    }

    62.5% {
        transform: translateX(-3px) rotateY(-2deg)
    }

    87.5% {
        transform: translateX(2px) rotateY(1deg)
    }

    100% {
        transform: translateX(0)
    }
}

.shake {
    -webkit-animation: shake 400ms ease-in-out;
    animation: shake 400ms ease-in-out;
}

.icon-animated-vertical {
    display: inline-block;
    animation: vertical 2s 5 ease 2s
}

.icon-shake {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}